# Tarea 1 Bases de Datos 2023-1 Grupo 2

## Integrantes:
* Benjamin Paicil - 202173067-2
* Benjamin Paulsen - 202173017-6

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [41]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\python310\lib\site-packages (0.5.0)
Requirement already satisfied: six in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\python310\lib\site-packages (from ipython-sql) (2.0.8)
Requirement already satisfied: prettytable in c:\python310\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython-genutils in c:\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: matplotlib-inline in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: jedi>=0.16 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: colorama in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: wcwidth in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\python310\lib\site-packages (2.9.5)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: names in c:\python310\lib\site-packages (0.3.0)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Importar dependencias

In [42]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [64]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:password@localhost:5432/dbname

env: DATABASE_URL=postgresql://postgres:password@localhost:5432/dbname

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [65]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='dbname',
   password="password"
)

print(connection)
cursor = connection.cursor()

OperationalError:

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [45]:
%%sql
CREATE TABLE facciones(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    descripcion VARCHAR(45) NOT NULL,
    
    PRIMARY KEY (id)

);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «facciones» ya existe

[SQL: CREATE TABLE facciones(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    descripcion VARCHAR(45) NOT NULL,

    PRIMARY KEY (id)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "trabajos" (6 pts)

In [46]:
%%sql
CREATE TABLE trabajos(
    
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    
    nombre VARCHAR(45) NOT NULL,
    
    descripcion VARCHAR(45) NOT NULL,

    sueldo INTEGER NOT NULL,
    
    PRIMARY KEY (id)

);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «trabajos» ya existe

[SQL: CREATE TABLE trabajos(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    descripcion VARCHAR(45) NOT NULL,

    sueldo INTEGER NOT NULL,

    PRIMARY KEY (id)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "personas" (6 pts)

In [47]:
%%sql
CREATE TABLE personas(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    apellidos VARCHAR(45) NOT NULL,

    fecha_nacimiento DATE NOT NULL,

    infectado BOOLEAN NOT NULL,

    conyugue INTEGER,

    PRIMARY KEY (id) ,
    
    FOREIGN KEY (conyugue) REFERENCES personas
);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «personas» ya existe

[SQL: CREATE TABLE personas(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    apellidos VARCHAR(45) NOT NULL,

    fecha_nacimiento DATE NOT NULL,

    infectado BOOLEAN NOT NULL,

    conyugue INTEGER,

    PRIMARY KEY (id) ,

    FOREIGN KEY (conyugue) REFERENCES personas
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "cuentas_bancarias" (6 pts)

In [48]:
%%sql

CREATE TABLE cuentas_bancarias (

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    tipo_de_cuenta VARCHAR(45) NOT NULL,

    banco VARCHAR(45) NOT NULL,

    saldo INTEGER NOT NULL,

    PRIMARY KEY (id),

    id_persona INTEGER, 

    FOREIGN KEY(id_persona) REFERENCES personas(id)

);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «cuentas_bancarias» ya existe

[SQL: CREATE TABLE cuentas_bancarias (

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    tipo_de_cuenta VARCHAR(45) NOT NULL,

    banco VARCHAR(45) NOT NULL,

    saldo INTEGER NOT NULL,

    PRIMARY KEY (id),

    id_persona INTEGER,

    FOREIGN KEY(id_persona) REFERENCES personas(id)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "persona_pertenece_faccion" (6 pts)

In [49]:
%%sql
CREATE TABLE persona_pertenece_faccion(

    id_persona INTEGER,

    id_faccion INTEGER,

    PRIMARY KEY (id_persona, id_faccion),

    FOREIGN KEY (id_persona) REFERENCES personas (id),

    FOREIGN KEY (id_faccion) REFERENCES facciones (id)
    

);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «persona_pertenece_faccion» ya existe

[SQL: CREATE TABLE persona_pertenece_faccion(

    id_persona INTEGER,

    id_faccion INTEGER,

    PRIMARY KEY (id_persona, id_faccion),

    FOREIGN KEY (id_persona) REFERENCES personas (id),

    FOREIGN KEY (id_faccion) REFERENCES facciones (id)


);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "persona_tiene_trabajo" (6 pts)

In [50]:
%%sql
CREATE TABLE persona_tiene_trabajo (
 
 id_persona INTEGER,

 id_trabajo INTEGER,
 
 estado BOOLEAN NOT NULL,

 ultima_vez_realizado TIMESTAMP NOT NULL,   
 
 FOREIGN KEY (id_persona) REFERENCES personas (id),
 
 FOREIGN KEY (id_trabajo) REFERENCES trabajos (id),
 
 PRIMARY KEY (id_persona , id_trabajo)

);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «persona_tiene_trabajo» ya existe

[SQL: CREATE TABLE persona_tiene_trabajo (

 id_persona INTEGER,

 id_trabajo INTEGER,

 estado BOOLEAN NOT NULL,

 ultima_vez_realizado TIMESTAMP NOT NULL,

 FOREIGN KEY (id_persona) REFERENCES personas (id),

 FOREIGN KEY (id_trabajo) REFERENCES trabajos (id),

 PRIMARY KEY (id_persona , id_trabajo)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [51]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [52]:
%%sql

SELECT
    personas.id , personas.nombre , split_part(apellidos, ' ', 1) AS primer_apellido            --split part corta el split apellidos hasta su primer espacio
FROM                                                 --personas será la tabla que ocupará el SELECT
    personas 

INNER JOIN                                           --unimos la tabla personas con persona_pertenece_faccion
    persona_pertenece_faccion 
ON                                                   --la union es gracias a la primary key de personas igualada a una de las foreign key de persona_pertenece_faccion(id_persona)
    personas.id = persona_pertenece_faccion.id_persona

INNER JOIN --unimos la tabla persona_pertenece_faccion con facciones
    facciones
ON                                                   --la union es gracias a una de las foreign key de persona_pertenece_faccion(id_faccion) igualada a la foreign key de facciones
    persona_pertenece_faccion.id_faccion = facciones.id
    

WHERE facciones.nombre = 'FEDRA'                     --Como condición solo se mostrarán aquellos datos que pertenezcan a la faccion FEDRA
ORDER BY personas.id ASC                             --Ordenamos por la id de personas ascendete los datos mostrados, para que quede ordenado y prolijo

 * postgresql://postgres:***@localhost:5432/tarea-bd
52 rows affected.

[(4, 'Philip', 'Dunn'),
 (12, 'Susan', 'Conley'),
 (20, 'Rebecca', 'Hobbs'),
 (65, 'Joanne', 'Hill'),
 (103, 'Arthur', 'Draper'),
 (171, 'Ella', 'Melvin'),
 (174, 'Shirley', 'Morrissey'),
 (176, 'William', 'Aderholt'),
 (204, 'Joseph', 'Sturdivant'),
 (227, 'Richard', 'Watt'),
 (230, 'Lorraine', 'Sarnicola'),
 (231, 'Sharon', 'Wallace'),
 (273, 'Kevin', 'Jacob'),
 (300, 'Victor', 'Everett'),
 (304, 'George', 'Camargo'),
 (317, 'Vernice', 'Seals'),
 (331, 'Marc', 'Tanguma'),
 (363, 'Steve', 'Bassett'),
 (381, 'Judy', 'Steppig'),
 (420, 'Linda', 'Brown'),
 (431, 'Joel', 'Bennett'),
 (435, 'Thomas', 'Williams'),
 (437, 'Sheila', 'Zuniga'),
 (439, 'Barbara', 'Belcher'),
 (444, 'Roger', 'Daugherty'),
 (450, 'Mary', 'Oharra'),
 (464, 'Lowell', 'Klein'),
 (484, 'Melissa', 'Lopez'),
 (508, 'Joseph', 'Kibbe'),
 (533, 'Walter', 'Dupes'),
 (540, 'Russell', 'Payne'),
 (577, 'Stephen', 'Hall'),
 (631, 'Marcia', 'Kennedy'),
 (634, 'Matthew', 'Newman'),
 (637, 'Micah', 'Knutson'),
 (681, 'Gerald', 'Lewicki'),
 (712, 'Amy', 'Saunders'),
 (720, 'Vickie', 'Eddins'),
 (738, 'Elia', 'Huckins'),
 (740, 'Donald', 'Jackson'),
 (773, 'Stephen', 'Cowan'),
 (776, 'Cheryl', 'Slaton'),
 (779, 'Courtney', 'Lewis'),
 (780, 'Michelle', 'Payne'),
 (789, 'Antonio', 'Bean'),
 (805, 'Nita', 'Thames'),
 (857, 'Jeremy', 'Castellon'),
 (863, 'Rod', 'York'),
 (866, 'Jose', 'Blankenship'),
 (893, 'Michael', 'Knepp'),
 (952, 'Gary', 'Davis'),
 (985, 'Eddie', 'Hartman')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Escriba aquí la descripción de su solución._

In [53]:
%%sql


SELECT 
    COUNT(personas.id) AS cantidad              --Contamos todas las personas         

FROM                                            --personas será la tabla que ocupará el SELECT
    personas 

WHERE 
    fecha_nacimiento > '2019-12-01';            --Como condición solo se mostrarán aquellos datos de las personas cuya fecha de nacimiento sea mayor al inicio de pandemia '2019-12-01'

 * postgresql://postgres:***@localhost:5432/tarea-bd
1 rows affected.

[(50,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [63]:
%%sql


SELECT
    personas.id , nombre , apellidos , cuentas_bancarias.saldo AS Dinero
FROM 
    personas                                            --personas será la tabla que ocupará el SELECT

INNER JOIN                                              --unimos la tabla personas con cuentas_bancarias
    cuentas_bancarias

ON  
    cuentas_bancarias.id_persona = personas.id          --la union es gracias a la primary key de personas igualada a la foreign key de cuentas_bancarias

ORDER BY personas.id ASC                                --Ordenamos por la id de personas ascendete los datos mostrados, para que quede ordenado y prolijo


Limit 20

 * postgresql://postgres:***@localhost:5432/tarea-bd
20 rows affected.

[(10, 'Delpha', 'Weimar Vonderahe', 87),
 (16, 'Sylvia', 'Graham Yerkes', 7319),
 (20, 'Rebecca', 'Hobbs Knickrehm', 8260),
 (21, 'Maureen', 'Pousson Sorrell', 7614),
 (30, 'Eugene', 'Wesley Rogers', 9010),
 (32, 'Teresa', 'Perez Allen', 7921),
 (37, 'Sarah', 'Bradford Torres', 299),
 (51, 'Kenneth', 'Munoz Ruper', 1206),
 (57, 'Marcus', 'Meacham Jones', 3826),
 (61, 'Kassie', 'Alvarez Askew', 5716),
 (64, 'Patrick', 'White Dupree', 8721),
 (75, 'Willie', 'Moore Curry', 8225),
 (77, 'Howard', 'Seevers Landis', 621),
 (87, 'Edna', 'Williams Randolph', 9915),
 (89, 'Monique', 'Burke Fiedler', 24),
 (105, 'Jennifer', 'Downey Carlson', 4397),
 (106, 'Josefina', 'Ardizzone Fields', 7966),
 (120, 'Gary', 'Gerleman Kim', 2669),
 (129, 'Elizabeth', 'Baker Basinski', 6038),
 (131, 'Mary', 'Tintinger Thorn', 2370)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [55]:
%%sql

SELECT facciones.nombre AS faccion, COUNT (persona_tiene_trabajo.id_persona) AS cantidad_de_trabajadores   --Contamos todas las personas que tienen trabajo
FROM                                                                     --facciones será la tabla que ocupará el SELECT
    facciones

INNER JOIN                                                               --unimos la tabla facciones con persona_pertenece_faccion
    persona_pertenece_faccion                                                           
ON
    facciones.id=persona_pertenece_faccion.id_faccion                    --la union es gracias a la primary key de facciones igualada a una de las foreign key de persona_pertenece_faccion(id_faccion)

INNER JOIN                                                               --unimos la tabla persona_pertenece_faccion con persona_tiene_trabajo
    persona_tiene_trabajo
ON
    persona_pertenece_faccion.id_persona=persona_tiene_trabajo.id_persona --la union es gracias a una de las primary key(id_persona) de persona_pertenece_faccion igualada a una de las foreign key de persona_tiene_trabajo(id_persona)

WHERE
    persona_tiene_trabajo.estado=true AND persona_tiene_trabajo.ultima_vez_realizado <= '2021-12-01'  --Como condición solo se mostrarán las personas que esten activas en sus trabajos hasta una fecha X

GROUP BY
    facciones.nombre;                                                       -- Agrupamos la consulta en base al nombre de la faccion

 * postgresql://postgres:***@localhost:5432/tarea-bd
6 rows affected.

[('JavaScriptia', 7),
 ('Luciérnagas', 2),
 ('Pythonia', 4),
 ('MaCdonia', 6),
 ('FEDRA', 7),
 ('Carroñeros', 3)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [56]:
%%sql


SELECT facciones.nombre AS faccion, COUNT(personas.id) AS personas_infectadas   --Hacemos un conteo de cuantas personas hay
FROM                                                             --facciones será la tabla que ocupará el SELECT
    facciones
INNER JOIN                                                       --unimos la tabla facciones con persona_pertenece_faccion
    persona_pertenece_faccion 
ON 
    facciones.id = persona_pertenece_faccion.id_faccion          --la union es gracias a la primary key de facciones igualada a una de las foreign key de persona_pertenece_faccion(id_faccion)   

INNER JOIN                                                       --unimos la tabla persona_pertenece_faccion con personas
    personas 
ON                                                               --la union es gracias a una de las foreign key de persona_pertenece_faccion(id_persona) igualada a la foreign key de personas
    persona_pertenece_faccion.id_persona = personas.id

WHERE personas.infectado = true                                  -- La condicion de cada persona es que esté infectada
GROUP BY facciones.nombre;                                       -- Agrupamos en base al nombre de la faccion.

 * postgresql://postgres:***@localhost:5432/tarea-bd
6 rows affected.

[('JavaScriptia', 30),
 ('Luciérnagas', 24),
 ('Pythonia', 20),
 ('MaCdonia', 19),
 ('FEDRA', 22),
 ('Carroñeros', 27)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [57]:
%%sql
SELECT Facción  ,trabajo 
FROM
(SELECT --La sub consulta en donde se ocupa row number() mostrará: nombres de las facciones ,la descripcion de los trabajos ,el conteo de los trabajos más realizados por cada faccion , y rn es la columna que lleva un conteo que empieza en 1 por cada trabajo de una faccion , y este se incrementa si el dato siguente es tiene el mismo nombre de la faccion, y vuelve a hacer 1 si encuentra un diferente nombre de una faccion, como está ordenado el conteo los trabajos de cada faccion de manera descendente y además como anteriormente ya explicado el partition by es en relación al nombre de las facciones , entonces las columnas que tengan el rn=1 serán las que contengan el trabajo más realizado por cada faccion. 
    facciones.nombre AS Facción  ,trabajos.nombre  AS trabajo ,
    row_number() over (partition by facciones.nombre order by COUNT(persona_tiene_trabajo.id_trabajo) DESC) rn 
FROM                                                        --facciones será la tabla que ocupará el SELECT
    facciones

INNER JOIN                                                  --Unimos la tabla facciones con persona_pertenece_faccion
    persona_pertenece_faccion
ON 
    facciones.id = persona_pertenece_faccion.id_faccion     --la union es gracias a la primary key de facciones igualada a una de las foreign key de persona_pertenece_faccion(id_faccion)

INNER JOIN                                                  --Unimos la tabla facciones con persona_pertenece_faccion
    personas
ON
    persona_pertenece_faccion.id_persona = personas.id      --la union es gracias a una de las foreign key de persona_pertenece_faccion(id_persona) igualada a la primary key de id_persona

INNER JOIN                                                  --Unimos la tabla personas con persona_tiene_trabajo
    persona_tiene_trabajo
ON                                                          --la union es gracias a la primary key de personas con una de las foreign key de persona_tiene_trabajo(id_persona)
    personas.id= persona_tiene_trabajo.id_persona           
INNER JOIN                                                  --Unimos la tabla persona con persona_tiene_trabajo con trabajos
    trabajos
ON                                                          
    persona_tiene_trabajo.id_trabajo= trabajos.id           --la union es gracias a una de las foreign key de persona_tiene_trabajo(id_trabajo) igualada a la primary key de trabajos
       

WHERE persona_tiene_trabajo.estado=true                    --Como condicion las personas deben estar activas en sus trabajos.

GROUP BY facciones.nombre ,  trabajos.nombre)tabla       -- Agrupa nuestra consulta en base al nombre de la faccion y su trabajo más realizado, además el nombre "tabla" es para entregar un nombre a la subconsulta.

WHERE rn=1                                               -- Condicionamos nuestra consulta solo para que nuestra "variable" rn muestre el 1 que es el primer lugar,, la razon de esto está explicado en el inicio de la subconsulta.

 * postgresql://postgres:***@localhost:5432/tarea-bd
6 rows affected.

[('Carroñeros', 'Médico'),
 ('FEDRA', 'Profesor'),
 ('JavaScriptia', 'Científico'),
 ('Luciérnagas', 'Profesor'),
 ('MaCdonia', 'Limpieza'),
 ('Pythonia', 'Cartero')]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [58]:
%%sql

SELECT
    facciones.nombre AS Facción, SUM(cuentas_bancarias.saldo) AS Saldo -- Obtenemos nombre de la faccion y con el SUM sumamos los saldos de las cuentas de todas las personas.

FROM            
    facciones

INNER JOIN                                                             -- Hacemos la union de facciones a personapertenecefaccion, personas y cuentas bancarias 
    persona_pertenece_faccion
ON                                                                     --mediante la id para poder calzar a cada persona y extraer la informacion necesaria.
    facciones.id = persona_pertenece_faccion.id_faccion

INNER JOIN
    personas
ON persona_pertenece_faccion.id_persona = personas.id

INNER JOIN 
    cuentas_bancarias 
ON personas.id = cuentas_bancarias.id_persona

GROUP BY facciones.nombre;                                              -- Hacemos que la consulta quede agrupada en base al nombre de las facciones.

 * postgresql://postgres:***@localhost:5432/tarea-bd
6 rows affected.

[('JavaScriptia', 38285),
 ('Luciérnagas', 26427),
 ('Pythonia', 33876),
 ('MaCdonia', 25141),
 ('FEDRA', 34212),
 ('Carroñeros', 12522)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [59]:
%%sql

SELECT
    cuentas_bancarias.banco AS Banco , COUNT(DISTINCT personas.id) AS Cantidad, SUM(cuentas_bancarias.saldo) AS Saldo -- Obtenemos el banco, además el COUNT(DISTINCT) cuenta sólo los valores distintos, no cuenta valores duplicados. Por lo tanto, si una persona tiene varias cuentas en el mismo banco, la consulta contará esa persona una sola vez, ya que su ID es el mismo en todas las cuentas.
FROM                                                                                                                  -- y por ultimo sumamos todas las cantidades de los saldos.
    cuentas_bancarias
INNER JOIN personas ON cuentas_bancarias.id_persona = personas.id   -- Unimos la tabla cuentas bancarias con la de personas ya que necesitamos calzar el id con la cuenta de la persona

GROUP BY cuentas_bancarias.banco;   --Agrupa por el nombre del banco la consulta.

 * postgresql://postgres:***@localhost:5432/tarea-bd
10 rows affected.

[('Banco BBVA', 12, 62875),
 ('Banco BCI SpA', 19, 97186),
 ('Banco Consorcio S.A', 12, 69137),
 ('Banco de la Nación S.A', 14, 54162),
 ('Banco Estado SpA', 12, 44467),
 ('Banco Pedrito Pascal SpA', 9, 60627),
 ('Banco Pythonia S.A', 11, 47719),
 ('Banco Santander SpA', 12, 56678),
 ('Banco Scotiabank', 12, 74533),
 ('FedraBank S.A', 6, 53859)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [60]:
%%sql
SELECT Faccion,banco
FROM 
    (SELECT facciones.nombre AS Faccion , cuentas_bancarias.banco  ,                                       --La sub consulta en donde se ocupa row number() mostrará: nombres de las facciones ,las cuentas bancarias ,el conteo del tipo de cuenta bancaria qu tiene cada faccion , y rn es la columna que lleva un conteo que empieza en 1 por cada cuenta bancaria de una faccion , y este se incrementa si el dato siguente es tiene el mismo nombre de la faccion, y vuelve a hacer 1 si encuentra un diferente nombre de una faccion, como está ordenado el conteo los tipos de cuenta bancaria de cada faccion de manera descendente y además como anteriormente ya explicado el partition by es en relación al nombre de las facciones , entonces las columnas que tengan el rn=1 serán las que contengan el los tipo de cuenta bancaria con más personas por cada faccion. 
    ROW_NUMBER() OVER (PARTITION BY facciones.nombre ORDER BY COUNT(cuentas_bancarias.tipo_de_cuenta) DESC) AS rn  
    FROM                                                        --facciones será la tabla que ocupará el SELECT
        facciones

    INNER JOIN                                                  --Unimos facciones con persona_pertenece_faccion
        persona_pertenece_faccion
    ON                                                          --la union es gracias a la primary key de facciones igualada a una de las foreign key de persona_pertenece_faccion(id_faccion)
        facciones.id = persona_pertenece_faccion.id_faccion

    INNER JOIN                                                  --Unimos persona_pertence_faccion con personas
        personas
    ON                                                          --la union es gracias a una de las foreign key de persona_pertenece_faccion(id_persona) igualada a la primary key de personas 
        persona_pertenece_faccion.id_persona = personas.id
    
    INNER JOIN                                                  --Unimos personas con cuentas_bancarias                                    
        cuentas_bancarias
    ON                                                          --la union es gracias a la primary key de personas igualada a la foreign key de cuentas_bancarias
        personas.id=cuentas_bancarias.id_persona                
        
    GROUP BY facciones.nombre , cuentas_bancarias.banco)tabla

WHERE rn=1                                                     -- Condicionamos nuestra consulta solo para que nuestra "variable" rn muestre el 1 que es el primer lugar, la razon de esto está explicado en el inicio de la subconsulta.

 * postgresql://postgres:***@localhost:5432/tarea-bd
6 rows affected.

[('Carroñeros', 'Banco Estado SpA'),
 ('FEDRA', 'Banco BBVA'),
 ('JavaScriptia', 'Banco Scotiabank'),
 ('Luciérnagas', 'Banco Pythonia S.A'),
 ('MaCdonia', 'Banco Scotiabank'),
 ('Pythonia', 'Banco Santander SpA')]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [67]:
%%sql

SELECT
    personas.id AS ID, personas.nombre AS NOMBRE ,
    SUBSTRING(personas.apellidos,LENGTH(split_part(apellidos, ' ', 1))+2 , LENGTH(personas.apellidos)) AS Apellido --Seleccionamos el id y el nombre de las personas para identificarlas en la tabla y para obtener el segundo apellido ,en la funcion substring podemos indicar desde que lugar a que lugar queremos recortar el string principal, entonces será desde el indice desde el largo del primer appelido(obtenido con split_part) + 2 , hasta el largo del string.        
FROM                                                                                           
    facciones

INNER JOIN                                                        -- Unimos la tabla persona_pertenece_faccion y personas a las facciones mediante el id 
    persona_pertenece_faccion                                    -- para poder unirlas y ver si una persona pertenece a más de una faccion mediante la informacion de la persona
ON
    facciones.id=persona_pertenece_faccion.id_faccion

INNER JOIN
    personas
ON
    persona_pertenece_faccion.id_persona=personas.id


GROUP BY personas.id                                            --Los agrupa por id para luego desplegar el nombre de la persona traidora

HAVING COUNT(personas.id)>1                                     --Evitamos casos de errores de id 

ORDER BY personas.id ASC                                        --Hacemos que el id quede ordenado numericamente.

 * postgresql://postgres:***@localhost:5432/tarea-bd
31 rows affected.

[(8, 'Ryan', 'Starks'),
 (20, 'Rebecca', 'Knickrehm'),
 (34, 'Grace', 'Townsend'),
 (119, 'Rebecca', 'Bailey'),
 (158, 'Lois', 'Leischner'),
 (171, 'Ella', 'Keller'),
 (213, 'Antonio', 'Santana'),
 (260, 'Laura', 'Hicks'),
 (272, 'Thomas', 'Duval'),
 (273, 'Kevin', 'Critchfield'),
 (304, 'George', 'Britton'),
 (321, 'Vickie', 'Adorno'),
 (343, 'Craig', 'See'),
 (349, 'Karisa', 'Hobbs'),
 (435, 'Thomas', 'Henderson'),
 (458, 'Carol', 'Link'),
 (460, 'Carla', 'Hayes'),
 (487, 'Paul', 'Palmer'),
 (490, 'Dustin', 'Mckenzie'),
 (513, 'Cynthia', 'Bayne'),
 (528, 'Hannah', 'Branche'),
 (533, 'Walter', 'Juares'),
 (598, 'Martha', 'Oliver'),
 (660, 'Philip', 'Lepore'),
 (676, 'Shayna', 'Brown'),
 (773, 'Stephen', 'Wolsted'),
 (788, 'Clarence', 'Luna'),
 (857, 'Jeremy', 'Gonzalez'),
 (876, 'James', 'Storm'),
 (912, 'Mauricio', 'Seppala'),
 (952, 'Gary', 'Hunt')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [62]:
%%sql
SELECT 
    persona1.nombre AS Nombre_persona1, 
    persona1.apellidos AS Apellidos_persona1, 
    persona2.nombre AS Nombre_persona2, 
    persona2.apellidos AS Apellidos_persona2               -- Renombramos para poder manejarlas y entenderlas mejor desde la tabla personas , ya que si no las renombrariamos las 2 tablas se llamarian personas,lo que obstaculizaria el código.
FROM 
    personas persona1
INNER JOIN                                                -- Unimos desde la misma tabla ya que necesitamos el conyugue 
    personas persona2 
ON 
    persona1.id = persona2.conyugue                       --primary key de persona1 igualada foreign key de persona2

WHERE persona1.id < persona2.id                            -- usamos esta condicion para que la consulta arroje solo una vez la pareja. 

GROUP BY persona1.nombre, persona1.apellidos,              --agrupamos con esta estructura para dejar la tabla como nos indica el enunciado.             
        persona2.nombre, persona2.apellidos

 * postgresql://postgres:***@localhost:5432/tarea-bd
78 rows affected.

[('Julian', 'Wells Hill', 'Mary', 'Kleffman Marvin'),
 ('Randall', 'Sobina Phillips', 'Robin', 'Dews Bluhm'),
 ('Minnie', 'Nelson Percy', 'Mary', 'Waddington Jiminez'),
 ('Dale', 'Clayton Rodriguez', 'Ronald', 'Fuentez Penatac'),
 ('Rodney', 'Parkinson Wise', 'Shirley', 'Mitchell Ritz'),
 ('Lawrence', 'Day Loken', 'Sharon', 'Buttner Lovett'),
 ('Hugh', 'Harris Bowmer', 'Timothy', 'Davidson Ho'),
 ('Billy', 'Scallon Nichols', 'Elizabeth', 'Taylor Lambert'),
 ('Shauna', 'Wiggins Hardman', 'Arthur', 'Draper Salazar'),
 ('Mark', 'Lemoyne Duguay', 'Loren', 'Vandenbosch Ahmed'),
 ('Lea', 'Close Fabian', 'Kellye', 'Lund Mclaurin'),
 ('Doris', 'Hartson Joseph', 'Jason', 'Clark Slaughenhoupt'),
 ('Alejandro', 'Bryant Lawrence', 'Irving', 'Pulse Adams'),
 ('William', 'Aderholt Gattis', 'Karen', 'Harris White'),
 ('Eveline', 'Todd Marvin', 'John', 'Pitts Magrath'),
 ('Eric', 'Taylor Talerico', 'David', 'Mcgowan Bake'),
 ('Charles', 'Williams Ortiz', 'William', 'Penderel Jacobson'),
 ('Shirley', 'Morrissey Llewellyn', 'Lidia', 'Archer Metzler'),
 ('Nettie', 'Harden Cadorette', 'Gale', 'Thompson Crisp'),
 ('Essie', 'Hubler Wilson', 'Robert', 'Mushtaq Pacheco'),
 ('Dora', 'Wozniak Matta', 'Carla', 'Ruble Dumond'),
 ('Ruben', 'Timmer Jackson', 'Richard', 'Whiteley Horst'),
 ('Rex', 'Benzi Gonzales', 'Richard', 'Hernandez Butner'),
 ('Jerry', 'Allen Campbell', 'Sheila', 'Caldwell English'),
 ('Christine', 'Oubre Schweitzer', 'Vernice', 'Seals Thompson'),
 ('Grace', 'Brown Townsend', 'George', 'Bonar Hornsby'),
 ('Monica', 'Bowen Fisher', 'Kaye', 'Bethel Roberson'),
 ('John', 'Callahan Chesley', 'Mary', 'Savage Underland'),
 ('David', 'Rodriguez Slusser', 'James', 'Morgan Weisman'),
 ('Dolores', 'Weuve Langlois', 'Lisa', 'Harris Byrd'),
 ('Karen', 'Brito Escalante', 'Donald', 'Jordan Cochran'),
 ('Julie', 'Gaines Leab', 'Richard', 'Robinson Rodriguez'),
 ('Alexandra', 'Radsky Nash', 'Jack', 'Johnston Gay'),
 ('Mark', 'Webb Menefield', 'Joe', 'Walker Lightsey'),
 ('Cleopatra', 'Espinosa Green', 'Manuel', 'Smith Jefferson'),
 ('Michael', 'Ellis Stroup', 'Renee', 'Hinton Stripling'),
 ('Lucas', 'Williams Collins', 'Shawn', 'Rubin Hampton'),
 ('Frank', 'Morin Marshall', 'William', 'Louis Huffstetler'),
 ('Carissa', 'Gold Lewis', 'Kimberly', 'Beasley Roberson'),
 ('Roberta', 'Peacock Herring', 'Michael', 'Armstrong Gaines'),
 ('David', 'Butler Douglas', 'Irma', 'Snow Robles'),
 ('Antonio', 'Oram Santana', 'Bette', 'Dugan Bear'),
 ('Jack', 'Bliler Dixon', 'Kenneth', 'Greenwell Gallaher'),
 ('Terry', 'Selkirk Rickert', 'Olga', 'Witte Kramer'),
 ('Bradford', 'Boey Irvine', 'Sanora', 'Smith King'),
 ('Bruce', 'Westendorf Lawrence', 'Lucilla', 'Sirois Durham'),
 ('Candice', 'Reid Dodson', 'Janet', 'Harrington Viles'),
 ('Debbie', 'Baughman Raynor', 'Monique', 'Burke Fiedler'),
 ('Douglas', 'Rivero Anderson', 'Stefania', 'Pearman Mccabe'),
 ('Mary', 'Mccoy Austin', 'Eleanor', 'Broadbent Avallone'),
 ('Brian', 'Bulter Thompson', 'Maria', 'Jobe Powell'),
 ('Pamela', 'Moulding Hannasch', 'Andrea', 'Watts Veyna'),
 ('James', 'Lucht Jeffers', 'Thomas', 'Williams Henderson'),
 ('Kimberly', 'Northrop Cannon', 'Janice', 'Deyoung Mattison'),
 ('Marguerite', 'Landin Smith', 'Sally', 'Miller Lovelace'),
 ('Summer', 'Slade Moon', 'Amanda', 'Tran Smith'),
 ('Stephen', 'Schultz Davis', 'Paula', 'Jeanlouis Keel'),
 ('John', 'Kay Webber', 'Ernestina', 'Ramirez Olveda'),
 ('Duane', 'Copley Lewis', 'Christopher', 'Stuart Powell'),
 ('Mark', 'Snow Prince', 'Barbara', 'Dabney Henley'),
 ('Samuel', 'Williams Reitz', 'Tanisha', 'Rink Hitchcock'),
 ('Vance', 'Land Medina', 'Stephen', 'Hall Johnson'),
 ('James', 'Summers Shackelford', 'Doris', 'Beattie Channey'),
 ('Amanda', 'Principato Miller', 'Bernadette', 'Castillo Lara'),
 ('Willard', 'Jernigan Murray', 'Melissa', 'Izzo Chamberlain'),
 ('Wilson', 'Kimpel Haigler', 'Christopher', 'Pike Webb'),
 ('Timothy', 'Anderson Tan', 'Paul', 'Shallenberger Ross'),
 ('Milagros', 'Martin Mcgee', 'Don', 'Ledbetter Rivera'),
 ('Susan', 'Evitt Lamont', 'Sharon', 'Aguilar Mitchell'),
 ('David', 'Hammond Norton', 'Michael', 'Eaton Vanhoose'),
 ('Adam', 'Dennard Brown', 'Fredrick', 'Shriver Lopez'),
 ('Wanda', 'Gillenwaters Cooke', 'Rebecca', 'Reid Billiter'),
 ('William', 'Garcia Mears', 'Frances', 'Jenkins Garibay'),
 ('Rosa', 'Ortiz Kitts', 'Robert', 'Resendez Branch'),
 ('Janet', 'Wolfe Robles', 'Marion', 'Daniels Baxter'),
 ('Ima', 'Snell Shirley', 'Tammy', 'Mccoy Kunz'),
 ('Bryce', 'Lewis Hogsett', 'Billy', 'Hopper Sobers'),
 ('Raymond', 'Stone Glover', 'Joseph', 'Mitchell Cook')]