# Tarea 1 Bases de Datos 2023-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Nombre Integrante 1 - Rol-1
* Nombre Integrante 2 - Rol-2

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [102]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\python310\lib\site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in c:\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\python310\lib\site-packages (from ipython-sql) (2.0.8)
Requirement already satisfied: six in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in c:\python310\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: sqlparse in c:\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: colorama in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: jedi>=0.16 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: traitlets>=5 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: matplotlib-inline in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: stack-data in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: backcall in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\bpaul\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\python310\lib\site-packages (2.9.5)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: names in c:\python310\lib\site-packages (0.3.0)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Importar dependencias

In [103]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [104]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:benjamin11@localhost:5432/tarea-bd

env: DATABASE_URL=postgresql://postgres:benjamin11@localhost:5432/tarea-bd

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [105]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea-bd',
   password="benjamin11"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x00000299916B1250; dsn: 'user=postgres password=xxx dbname=tarea-bd host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [106]:
%%sql
CREATE TABLE facciones(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    descripcion VARCHAR(45) NOT NULL,
    
    PRIMARY KEY (id)

);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «facciones» ya existe

[SQL: CREATE TABLE facciones(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    descripcion VARCHAR(45) NOT NULL,

    PRIMARY KEY (id)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "trabajos" (6 pts)

In [107]:
%%sql
CREATE TABLE trabajos(
    
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    
    nombre VARCHAR(45) NOT NULL,
    
    descripcion VARCHAR(45) NOT NULL,

    sueldo INTEGER NOT NULL,
    
    PRIMARY KEY (id)

);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «trabajos» ya existe

[SQL: CREATE TABLE trabajos(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    descripcion VARCHAR(45) NOT NULL,

    sueldo INTEGER NOT NULL,

    PRIMARY KEY (id)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "personas" (6 pts)

In [108]:
%%sql
CREATE TABLE personas(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    apellidos VARCHAR(45) NOT NULL,

    fecha_nacimiento DATE NOT NULL,

    infectado BOOLEAN NOT NULL,

    conyugue INTEGER,

    PRIMARY KEY (id) ,
    
    FOREIGN KEY (conyugue) REFERENCES personas
);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «personas» ya existe

[SQL: CREATE TABLE personas(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    apellidos VARCHAR(45) NOT NULL,

    fecha_nacimiento DATE NOT NULL,

    infectado BOOLEAN NOT NULL,

    conyugue INTEGER,

    PRIMARY KEY (id) ,

    FOREIGN KEY (conyugue) REFERENCES personas
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "cuentas_bancarias" (6 pts)

In [109]:
%%sql

CREATE TABLE cuentas_bancarias (

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    tipo_de_cuenta VARCHAR(45) NOT NULL,

    banco VARCHAR(45) NOT NULL,

    saldo INTEGER NOT NULL,

    PRIMARY KEY (id),

    id_persona INTEGER, 

    FOREIGN KEY(id_persona) REFERENCES personas(id)

);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «cuentas_bancarias» ya existe

[SQL: CREATE TABLE cuentas_bancarias (

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    tipo_de_cuenta VARCHAR(45) NOT NULL,

    banco VARCHAR(45) NOT NULL,

    saldo INTEGER NOT NULL,

    PRIMARY KEY (id),

    id_persona INTEGER,

    FOREIGN KEY(id_persona) REFERENCES personas(id)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "persona_pertenece_faccion" (6 pts)

In [110]:
%%sql
CREATE TABLE persona_pertenece_faccion(

    id_persona INTEGER,

    id_faccion INTEGER,

    PRIMARY KEY (id_persona, id_faccion),

    FOREIGN KEY (id_persona) REFERENCES personas (id),

    FOREIGN KEY (id_faccion) REFERENCES facciones (id)
    

);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «persona_pertenece_faccion» ya existe

[SQL: CREATE TABLE persona_pertenece_faccion(

    id_persona INTEGER,

    id_faccion INTEGER,

    PRIMARY KEY (id_persona, id_faccion),

    FOREIGN KEY (id_persona) REFERENCES personas (id),

    FOREIGN KEY (id_faccion) REFERENCES facciones (id)


);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "persona_tiene_trabajo" (6 pts)

In [111]:
%%sql
CREATE TABLE persona_tiene_trabajo (
 
 id_persona INTEGER,

 id_trabajo INTEGER,
 
 estado BOOLEAN NOT NULL,

 ultima_vez_realizado TIMESTAMP NOT NULL,   
 
 FOREIGN KEY (id_persona) REFERENCES personas (id),
 
 FOREIGN KEY (id_trabajo) REFERENCES trabajos (id),
 
 PRIMARY KEY (id_persona , id_trabajo)

);

 * postgresql://postgres:***@localhost:5432/tarea-bd
(psycopg2.errors.DuplicateTable) la relación «persona_tiene_trabajo» ya existe

[SQL: CREATE TABLE persona_tiene_trabajo (

 id_persona INTEGER,

 id_trabajo INTEGER,

 estado BOOLEAN NOT NULL,

 ultima_vez_realizado TIMESTAMP NOT NULL,

 FOREIGN KEY (id_persona) REFERENCES personas (id),

 FOREIGN KEY (id_trabajo) REFERENCES trabajos (id),

 PRIMARY KEY (id_persona , id_trabajo)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [112]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [113]:
%%sql
/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    id ,nombre , split_part(apellidos, ' ', 1) AS primer_apellido
FROM 
    personas

 * postgresql://postgres:***@localhost:5432/tarea-bd
1000 rows affected.

[(1, 'Ines', 'Linker'),
 (2, 'Beulah', 'Hannah'),
 (3, 'Lashawn', 'Nester'),
 (5, 'Heather', 'Cook'),
 (6, 'Jean', 'West'),
 (8, 'Betty', 'Kenney'),
 (10, 'Tara', 'Smith'),
 (11, 'Maria', 'Alexander'),
 (12, 'Ruth', 'Tutas'),
 (13, 'Shelley', 'Mitchell'),
 (14, 'Jonathan', 'Willbanks'),
 (16, 'Mary', 'Kelly'),
 (17, 'Michael', 'Tidwell'),
 (19, 'Larry', 'Yeager'),
 (21, 'Christopher', 'Mcclain'),
 (24, 'Cynthia', 'Sanchez'),
 (25, 'John', 'Jones'),
 (26, 'Martha', 'Irish'),
 (28, 'Travis', 'Lawson'),
 (29, 'Hollis', 'Mode'),
 (30, 'Alica', 'Duncan'),
 (31, 'Brian', 'Robertson'),
 (32, 'Ella', 'Merritt'),
 (33, 'Katie', 'Conley'),
 (34, 'Francis', 'Binns'),
 (35, 'Millie', 'Martin'),
 (36, 'Wilda', 'Regan'),
 (37, 'Jessica', 'Jones'),
 (38, 'Robert', 'Webster'),
 (39, 'Frank', 'Sweat'),
 (40, 'Carolyn', 'Blank'),
 (41, 'Willie', 'Dunbar'),
 (42, 'Maria', 'Ayers'),
 (43, 'Leo', 'Naquin'),
 (44, 'Shirley', 'Terepka'),
 (45, 'William', 'Jones'),
 (46, 'Holly', 'Cohran'),
 (48, 'Suzanne', 'Haynes'),
 (49, 'Michael', 'Danielsen'),
 (50, 'Theresia', 'Sumstad'),
 (51, 'Stanley', 'Abron'),
 (52, 'Gloria', 'Marugg'),
 (54, 'Elinor', 'Grayson'),
 (55, 'Tracey', 'Dewees'),
 (56, 'Santos', 'Chevez'),
 (58, 'Gary', 'Viejo'),
 (59, 'Margaret', 'Larson'),
 (60, 'Franklin', 'Higdon'),
 (61, 'Raymond', 'Figueroa'),
 (62, 'Henry', 'Castilo'),
 (63, 'Betsy', 'Murphy'),
 (64, 'Lonnie', 'Fitzsimmons'),
 (65, 'John', 'Offerdahl'),
 (66, 'Annette', 'Duncan'),
 (67, 'Wendell', 'Lewis'),
 (68, 'Luke', 'Howard'),
 (69, 'Craig', 'Vaquera'),
 (70, 'Janie', 'Meza'),
 (72, 'Martine', 'Graham'),
 (74, 'Mary', 'Swayzer'),
 (75, 'Tracy', 'Mckinney'),
 (76, 'Scott', 'Piccinone'),
 (77, 'Alfredo', 'Owens'),
 (78, 'Rose', 'Barry'),
 (79, 'Kizzy', 'Derentis'),
 (80, 'Frank', 'Hogan'),
 (81, 'Katherine', 'Finch'),
 (82, 'Janel', 'Wright'),
 (83, 'Frances', 'Trujillo'),
 (84, 'Kathleen', 'Dizon'),
 (87, 'Michael', 'Washburn'),
 (88, 'Janice', 'Francis'),
 (89, 'Chad', 'Lofquist'),
 (90, 'Charlie', 'Milton'),
 (91, 'Kathy', 'Ramsey'),
 (92, 'Daniel', 'Whittier'),
 (93, 'Cindy', 'Scott'),
 (94, 'Raymond', 'Orduno'),
 (95, 'Cleo', 'Derrick'),
 (96, 'Alison', 'Jones'),
 (97, 'Victoria', 'Gilmore'),
 (98, 'Ashlee', 'Minahan'),
 (99, 'Philip', 'Winters'),
 (100, 'Anna', 'Wedderburn'),
 (101, 'Richard', 'Green'),
 (102, 'Donald', 'Murphy'),
 (105, 'Rogelio', 'Espinosa'),
 (106, 'Eloise', 'Clark'),
 (107, 'Betty', 'Self'),
 (108, 'Adam', 'Mcculler'),
 (109, 'David', 'Hester'),
 (110, 'Beatrice', 'Kirkland'),
 (111, 'Maggie', 'Stout'),
 (112, 'Roger', 'Hoffman'),
 (113, 'Gladys', 'Correla'),
 (114, 'Ronald', 'Shaw'),
 (115, 'Barbara', 'Croyle'),
 (116, 'Erica', 'Ponder'),
 (117, 'Willie', 'Matson'),
 (118, 'Nancy', 'Washington'),
 (119, 'Charles', 'Roberts'),
 (120, 'Richard', 'Cogliano'),
 (122, 'Debbie', 'Gonzalez'),
 (123, 'Donna', 'Mcbroom'),
 (124, 'Dara', 'Cogswell'),
 (125, 'Gary', 'Estevez'),
 (71, 'Josie', 'Keo'),
 (85, 'Melissa', 'Fuentes'),
 (4, 'Iris', 'Hollins'),
 (47, 'Eli', 'Williams'),
 (22, 'Adam', 'Logan'),
 (7, 'Juan', 'Sesco'),
 (86, 'Ricky', 'Wilson'),
 (15, 'Edward', 'Neal'),
 (18, 'Angela', 'Rosas'),
 (53, 'Barbara', 'Brown'),
 (57, 'Erwin', 'Gibson'),
 (9, 'Ashley', 'Duncan'),
 (121, 'Esther', 'Copeland'),
 (103, 'Ernesto', 'Smith'),
 (73, 'Brian', 'Estes'),
 (20, 'Constance', 'Gipson'),
 (126, 'Joann', 'Murphy'),
 (127, 'Patricia', 'Voegele'),
 (128, 'Tonya', 'Folse'),
 (129, 'Eric', 'Ortiz'),
 (130, 'Daniel', 'Fleming'),
 (131, 'Peggy', 'Brown'),
 (132, 'Michael', 'Rojas'),
 (135, 'Yolanda', 'Bennett'),
 (136, 'Lori', 'Jenks'),
 (137, 'Thomas', 'Janecka'),
 (138, 'Daniel', 'Hickman'),
 (139, 'Brian', 'Carter'),
 (141, 'Rosetta', 'Trotter'),
 (142, 'Kristen', 'Saxman'),
 (143, 'Gloria', 'Maybee'),
 (144, 'Seth', 'Heitz'),
 (145, 'Raymond', 'Green'),
 (146, 'Jane', 'Warner'),
 (147, 'Tanya', 'Townsend'),
 (148, 'Marshall', 'Conrad'),
 (149, 'Carmen', 'Rosenbaum'),
 (150, 'Johnny', 'Long'),
 (151, 'Thelma', 'Davis'),
 (152, 'Christina', 'Williams'),
 (153, 'Muriel', 'Weber'),
 (155, 'Eduardo', 'Young'),
 (157, 'Rachel', 'Fletcher'),
 (159, 'Catherine', 'Braithwaite'),
 (160, 'Susan', 'Dozier'),
 (161, 'Randall', 'Ohlsen'),
 (162, 'Ronald', 'Newman'),
 (164, 'Shirley', 'Palovick'),
 (165, 'Margarito', 'Tilman'),
 (167, 'James', 'Martinez'),
 (168, 'Amanda', 'Ward'),
 (169, 'Virginia', 'Lindsey'),
 (171, 'Ray', 'Brueckman'),
 (173, 'Kristie', 'Kuhn'),
 (175, 'Samuel', 'Turner'),
 (176, 'Tasha', 'Worrell'),
 (178, 'Kenneth', 'Battles'),
 (179, 'Steven', 'Weyers'),
 (180, 'Mary', 'Thompson'),
 (181, 'Valerie', 'Dreher'),
 (183, 'Sherry', 'Lee'),
 (184, 'Patty', 'Schilling'),
 (185, 'Heath', 'Pyle'),
 (186, 'Jesus', 'Pennington'),
 (187, 'Mary', 'Morales'),
 (188, 'Marion', 'Neal'),
 (189, 'Vincent', 'Mariani'),
 (190, 'David', 'Alston'),
 (191, 'Kelly', 'Cantrell'),
 (193, 'Sharon', 'Turner'),
 (194, 'Kevin', 'Johnson'),
 (195, 'Shela', 'Haliburton'),
 (196, 'Tasha', 'Stoner'),
 (197, 'Kari', 'Faughnan'),
 (200, 'Edwin', 'Penn'),
 (202, 'Max', 'Wilson'),
 (203, 'Darryl', 'Trujillo'),
 (204, 'Arthur', 'Jochim'),
 (205, 'Robert', 'Franco'),
 (207, 'Richard', 'Crouch'),
 (208, 'Linda', 'Armstrong'),
 (209, 'Robert', 'Doster'),
 (210, 'Susan', 'Schaeffer'),
 (211, 'Vincent', 'Greenwood'),
 (212, 'Rex', 'Malsam'),
 (215, 'William', 'Magnusson'),
 (216, 'Dorothy', 'Domhoff'),
 (217, 'Jennifer', 'Gasiewski'),
 (218, 'Brent', 'Fisher'),
 (219, 'Patricia', 'Hawkins'),
 (220, 'Zachary', 'Jones'),
 (221, 'Kim', 'Mitchell'),
 (222, 'Willie', 'Adame'),
 (223, 'Frances', 'Morrow'),
 (224, 'Debra', 'Mcgranor'),
 (225, 'Juan', 'Warren'),
 (226, 'Robert', 'Priddy'),
 (227, 'Katherine', 'Heberling'),
 (228, 'Mark', 'Gill'),
 (229, 'Donald', 'Burnett'),
 (230, 'Miguel', 'Doke'),
 (231, 'Susan', 'Meyers'),
 (232, 'Justin', 'Galvan'),
 (233, 'Jennifer', 'Thompson'),
 (234, 'Karin', 'Sproule'),
 (236, 'Kathleen', 'Lane'),
 (238, 'Tracey', 'Owen'),
 (239, 'Kenneth', 'Magnuson'),
 (240, 'Charles', 'Griffin'),
 (241, 'Franklin', 'Simmons'),
 (242, 'Douglas', 'Diaz'),
 (246, 'Lynn', 'Ring'),
 (248, 'Raymond', 'Jiron'),
 (249, 'Mildred', 'Goetz'),
 (214, 'Faye', 'Waggoner'),
 (170, 'Gregg', 'Borders'),
 (166, 'Bonnie', 'Delima'),
 (243, 'Brenda', 'Drage'),
 (247, 'Evelyn', 'Hollingsworth'),
 (154, 'Kristen', 'Balkus'),
 (134, 'Ricky', 'Kinney'),
 (201, 'Mary', 'Deal'),
 (158, 'Ricky', 'Crowder'),
 (244, 'Roy', 'Atkins'),
 (192, 'Amanda', 'Stephens'),
 (213, 'Leonard', 'Howe'),
 (140, 'Brandon', 'Simmons'),
 (172, 'Adam', 'Lynn'),
 (163, 'Reyes', 'Gonzalez'),
 (206, 'Robin', 'Pendergraph'),
 (182, 'Michelle', 'Bakerville'),
 (199, 'Sherrie', 'Odle'),
 (245, 'Josefine', 'Charlesworth'),
 (156, 'Mary', 'Anderson'),
 (177, 'Richard', 'Thomas'),
 (237, 'George', 'Gonzalez'),
 (250, 'Stephanie', 'Morgan'),
 (251, 'Bill', 'Wilson'),
 (252, 'Mary', 'Graff'),
 (253, 'William', 'Dole'),
 (254, 'David', 'Ohagan'),
 (255, 'Belinda', 'Sizemore'),
 (256, 'Shauna', 'Dalton'),
 (258, 'Curtis', 'Howlett'),
 (259, 'Ramon', 'Pope'),
 (260, 'Mary', 'Lirette'),
 (262, 'Christine', 'Pena'),
 (263, 'Joey', 'Middaugh'),
 (264, 'Georgiann', 'Clark'),
 (265, 'Steve', 'Mcneeley'),
 (266, 'Diane', 'Schoettmer'),
 (268, 'Johnnie', 'Bowles'),
 (269, 'Ida', 'Garza'),
 (270, 'Angela', 'Howe'),
 (271, 'Carmen', 'Surface'),
 (272, 'Gary', 'Ortiz'),
 (273, 'Courtney', 'Wallen'),
 (274, 'Constance', 'Robinson'),
 (276, 'Pierre', 'Griffin'),
 (277, 'James', 'Morrison'),
 (278, 'Robert', 'Hembree'),
 (279, 'Arthur', 'Marlatt'),
 (280, 'Ebony', 'Wiggins'),
 (281, 'Caitlin', 'Ramey'),
 (282, 'Heath', 'Goggin'),
 (283, 'Michael', 'Garnick'),
 (284, 'Robert', 'Francis'),
 (286, 'Linda', 'Rodgers'),
 (287, 'Teri', 'Loving'),
 (288, 'Michelle', 'Nee'),
 (289, 'Cheryl', 'Brown'),
 (290, 'Leanne', 'Paul'),
 (291, 'James', 'Devereaux'),
 (292, 'Mattie', 'Green'),
 (293, 'Janet', 'Bird'),
 (295, 'Gus', 'Stafford'),
 (296, 'Laura', 'Lattimore'),
 (297, 'David', 'Yates'),
 (298, 'Bill', 'Kuhn'),
 (299, 'Jeffrey', 'David'),
 (300, 'Jonathan', 'Davis'),
 (301, 'Eric', 'Lott'),
 (302, 'Krystle', 'Mcclean'),
 (303, 'Ryan', 'Hardin'),
 (304, 'Mammie', 'Molina'),
 (305, 'Peter', 'Burlew'),
 (306, 'Heidi', 'Obrien'),
 (307, 'Stephen', 'Hodges'),
 (308, 'George', 'Clingan'),
 (310, 'Albert', 'Starrick'),
 (311, 'Lisa', 'Mariano'),
 (312, 'Vernon', 'Bravo'),
 (313, 'Eric', 'Estrada'),
 (314, 'Carolina', 'Shepherd'),
 (315, 'George', 'Gallegos'),
 (316, 'Mathew', 'Adair'),
 (317, 'Louis', 'Brennan'),
 (318, 'Samantha', 'Anderson'),
 (319, 'Dinah', 'Smith'),
 (320, 'Deborah', 'Ricker'),
 (321, 'Adam', 'Galdames'),
 (323, 'Monte', 'Watson'),
 (324, 'Javier', 'Simpson'),
 (325, 'Randall', 'Messier'),
 (326, 'Susan', 'Leahy'),
 (327, 'Chelsea', 'Lee'),
 (328, 'Joanne', 'Reaves'),
 (329, 'Clara', 'Lynch'),
 (330, 'Marion', 'Leahy'),
 (331, 'Marcus', 'Roth'),
 (332, 'Cody', 'Moore'),
 (334, 'Paula', 'Grilli'),
 (337, 'Eric', 'Lafond'),
 (338, 'Bruce', 'Smart'),
 (339, 'Lisa', 'Collins'),
 (340, 'Catherine', 'Jarrell'),
 (342, 'Matthew', 'Verne'),
 (344, 'Michael', 'Carroll'),
 (345, 'James', 'Huntley'),
 (346, 'Kay', 'Witt'),
 (347, 'Jeffrey', 'Miles'),
 (348, 'Michael', 'Gonzales'),
 (349, 'Jesse', 'Culpepper'),
 (350, 'Cornelia', 'Guest'),
 (351, 'Devon', 'Lawrence'),
 (352, 'Myra', 'Hewitt'),
 (353, 'Nina', 'Senn'),
 (354, 'Victor', 'Tillson'),
 (355, 'Wesley', 'Iler'),
 (357, 'Douglas', 'Bridwell'),
 (358, 'Rachael', 'Walker'),
 (360, 'John', 'Geralds'),
 (361, 'James', 'Sherman'),
 (364, 'Maurice', 'Riveria'),
 (365, 'Anna', 'Cooley'),
 (366, 'Helen', 'Covert'),
 (367, 'Albert', 'Dray'),
 (368, 'George', 'Pope'),
 (370, 'Alex', 'Hernandez'),
 (371, 'Ann', 'Stroik'),
 (372, 'Natasha', 'Edmondson'),
 (373, 'Kirk', 'Horton'),
 (374, 'George', 'Benson'),
 (333, 'Trina', 'Jones'),
 (275, 'Chante', 'Adkins'),
 (267, 'Matthew', 'Blanton'),
 (336, 'Greg', 'Workman'),
 (369, 'Joyce', 'Winders'),
 (341, 'Linda', 'Abramowski'),
 (294, 'John', 'Seveney'),
 (359, 'John', 'Alberto'),
 (309, 'Gordon', 'Ward'),
 (363, 'Vicky', 'Hinojos'),
 (322, 'David', 'Kyseth'),
 (375, 'Lillian', 'Stallworth'),
 (285, 'Willie', 'Rodriguez'),
 (257, 'Katie', 'Best'),
 (343, 'Richard', 'Sylvester'),
 (261, 'Morris', 'Tadych'),
 (376, 'Virginia', 'Russell'),
 (377, 'Carolyn', 'Vega'),
 (379, 'Regina', 'Clark'),
 (380, 'Christopher', 'Rosboril'),
 (381, 'Kevin', 'Cain'),
 (382, 'Belinda', 'Chapman'),
 (383, 'Carmelo', 'Jones'),
 (384, 'Nolan', 'Eanni'),
 (385, 'Michael', 'Dotson'),
 (386, 'Christina', 'Hunt'),
 (387, 'Elaine', 'Linscott'),
 (388, 'Jeffrey', 'Arnold'),
 (389, 'Regina', 'Hanson'),
 (390, 'Shawn', 'Neace'),
 (391, 'Stephen', 'Creel'),
 (392, 'Gladys', 'Stoltz'),
 (393, 'Peter', 'Faulkner'),
 (394, 'Hugo', 'Morales'),
 (395, 'Sarah', 'Simpson'),
 (396, 'Tiffany', 'Johnson'),
 (397, 'Vincent', 'Winter'),
 (398, 'Tiffany', 'Evans'),
 (399, 'Richard', 'Holliday'),
 (400, 'Lupe', 'Little'),
 (401, 'Candice', 'Sines'),
 (402, 'Jessica', 'Hooten'),
 (403, 'Oliva', 'Day'),
 (404, 'Armando', 'Griffith'),
 (405, 'Dan', 'Leonard'),
 (408, 'Jean', 'Christensen'),
 (409, 'Louisa', 'Butler'),
 (410, 'Josefina', 'Hagen'),
 (411, 'Chelsea', 'Bush'),
 (414, 'Mary', 'Jordon'),
 (415, 'Philip', 'Hall'),
 (416, 'Fatima', 'Ross'),
 (417, 'Peter', 'Loder'),
 (418, 'Annette', 'Martinez'),
 (419, 'Cheri', 'Gillespie'),
 (420, 'Robert', 'Gallagher'),
 (421, 'Ann', 'Reid'),
 (422, 'John', 'Herd'),
 (423, 'Sharon', 'Estevez'),
 (424, 'Nicholas', 'Baumgardner'),
 (425, 'Johnathan', 'Hossain'),
 (426, 'Emilio', 'Goss'),
 (427, 'Opal', 'Mcgaha'),
 (428, 'Mildred', 'Lindquist'),
 (430, 'Renee', 'Rogers'),
 (433, 'Milford', 'Lane'),
 (434, 'Lana', 'Brinson'),
 (435, 'Anthony', 'Valentine'),
 (436, 'Alexandra', 'Foster'),
 (438, 'Alejandra', 'Strother'),
 (439, 'Matthew', 'Dean'),
 (440, 'Brandon', 'Ortiz'),
 (441, 'Gary', 'Bruce'),
 (442, 'Betty', 'Branchaud'),
 (443, 'Cruz', 'Hamilton'),
 (444, 'Katherine', 'Pastor'),
 (445, 'Bulah', 'Kramer'),
 (447, 'Edna', 'Chandler'),
 (448, 'Ralph', 'Massengill'),
 (449, 'Timothy', 'Edwards'),
 (450, 'Patricia', 'Chester'),
 (451, 'John', 'Pleasanton'),
 (452, 'Helen', 'Pierson'),
 (453, 'Carlos', 'Phelps'),
 (454, 'Denise', 'Vy'),
 (455, 'Bertha', 'Natali'),
 (457, 'Florence', 'Varela'),
 (459, 'Raymond', 'Harrison'),
 (461, 'Eugene', 'Simas'),
 (464, 'Williams', 'Cha'),
 (466, 'Justin', 'Burchette'),
 (467, 'Regina', 'Nicholas'),
 (468, 'Calvin', 'Mulholland'),
 (469, 'Faustino', 'Muhammad'),
 (470, 'William', 'Pollara'),
 (471, 'Maria', 'Craver'),
 (472, 'Jeremy', 'Halm'),
 (473, 'Alice', 'Stamps'),
 (474, 'Jeffrey', 'Gayle'),
 (475, 'Susan', 'Deaton'),
 (477, 'Herman', 'Montgomery'),
 (478, 'Alma', 'Johnson'),
 (479, 'Robert', 'Bannister'),
 (480, 'Joseph', 'Logsdon'),
 (481, 'Ruben', 'Hicks'),
 (482, 'Christopher', 'Locke'),
 (483, 'Elyse', 'Mcleod'),
 (485, 'John', 'Miller'),
 (486, 'Matthew', 'Harvey'),
 (487, 'Charles', 'Spooner'),
 (489, 'Elizabeth', 'Friedman'),
 (490, 'Lorna', 'Tao'),
 (491, 'Mable', 'Davis'),
 (492, 'Shirley', 'Webster'),
 (494, 'Joseph', 'Crosby'),
 (496, 'Steven', 'Roberts'),
 (497, 'Phil', 'Wagner'),
 (498, 'Michael', 'Johnson'),
 (499, 'Sarah', 'Perkins'),
 (500, 'Ester', 'Gomez'),
 (437, 'Julian', 'Harris'),
 (463, 'Ashley', 'Knight'),
 (407, 'Linda', 'Caldwell'),
 (412, 'Leslie', 'Mullins'),
 (484, 'Brian', 'Grose'),
 (432, 'Judy', 'Flythe'),
 (476, 'Yolanda', 'Carter'),
 (495, 'Alexander', 'Battle'),
 (378, 'Vincent', 'Marin'),
 (488, 'Kimberly', 'Hoover'),
 (406, 'Terry', 'Landry'),
 (460, 'Lupita', 'Berggren'),
 (429, 'Ivan', 'Durfee'),
 (431, 'Sandra', 'Perkins'),
 (458, 'Bruce', 'Wang'),
 (462, 'Joshua', 'Perkins'),
 (413, 'Margaret', 'Mosley'),
 (456, 'Guy', 'Everett'),
 (501, 'Michael', 'Byrd'),
 (502, 'Carole', 'Price'),
 (504, 'Ronald', 'White'),
 (505, 'Orlando', 'Goslee'),
 (508, 'Barbara', 'Hunt'),
 (509, 'Sarah', 'Shore'),
 (510, 'Lee', 'Selfe'),
 (511, 'Leonard', 'Robertson'),
 (512, 'Claire', 'Kahle'),
 (513, 'Nathaniel', 'Santiago'),
 (514, 'Carla', 'Ehsan'),
 (515, 'Nicholas', 'Cummins'),
 (517, 'Elida', 'Foran'),
 (518, 'Samuel', 'Sanford'),
 (519, 'Celeste', 'Gober'),
 (520, 'Tammy', 'Kittler'),
 (521, 'Adam', 'Hulsey'),
 (522, 'Mary', 'Smith'),
 (523, 'Juan', 'Mcgee'),
 (524, 'Richard', 'Tucker'),
 (525, 'William', 'Brule'),
 (526, 'Karina', 'Shelton'),
 (527, 'John', 'Maxey'),
 (528, 'Kathy', 'Miller'),
 (529, 'Goldie', 'White'),
 (530, 'Thelma', 'Potter'),
 (531, 'Roderick', 'Lomack'),
 (532, 'James', 'Peterson'),
 (533, 'Michael', 'Bicknell'),
 (534, 'Sarah', 'Montgomery'),
 (536, 'Cindy', 'Schwartz'),
 (538, 'Marion', 'Whitson'),
 (541, 'Eleanor', 'Hilliard'),
 (543, 'Richard', 'Verne'),
 (544, 'Eddie', 'Miller'),
 (546, 'Richard', 'Moore'),
 (547, 'Samuel', 'Cole'),
 (548, 'Ashley', 'Rader'),
 (549, 'Jadwiga', 'Norris'),
 (550, 'Wayne', 'Muniz'),
 (551, 'Lola', 'Whelpley'),
 (552, 'Arturo', 'Mccarthy'),
 (553, 'Chester', 'Owens'),
 (554, 'Julia', 'Bradley'),
 (555, 'Mary', 'Jones'),
 (556, 'James', 'Short'),
 (557, 'Robert', 'Morales'),
 (558, 'Deena', 'Parkhurst'),
 (559, 'Ronald', 'Shasteen'),
 (560, 'John', 'Rodriguez'),
 (561, 'Douglas', 'Gumm'),
 (562, 'Leigh', 'Fennell'),
 (563, 'Lloyd', 'Moffett'),
 (565, 'Henry', 'Stapler'),
 (566, 'Samuel', 'Larson'),
 (567, 'Billy', 'Sayco'),
 (568, 'Susan', 'Gilmore'),
 (569, 'Nancy', 'Campbell'),
 (570, 'Daniel', 'Mueller'),
 (571, 'Lowell', 'Sterling'),
 (573, 'Randy', 'Birden'),
 (575, 'Karen', 'Stickney'),
 (576, 'Randal', 'Begley'),
 (577, 'Jacob', 'Garza'),
 (578, 'Gilbert', 'Herms'),
 (579, 'Mercedes', 'Snow'),
 (580, 'Elizabeth', 'Bedard'),
 (581, 'Ronald', 'Somma'),
 (582, 'Lane', 'Willer'),
 (585, 'Mary', 'Knaff'),
 (586, 'Cynthia', 'Southerland'),
 (587, 'Kenneth', 'Lee'),
 (588, 'Charlotte', 'Goldstein'),
 (589, 'Carey', 'Banh'),
 (591, 'Debra', 'Miller'),
 (592, 'Henry', 'Bunn'),
 (593, 'Sabrina', 'Rollins'),
 (594, 'Dawn', 'Rogers'),
 (595, 'Ernest', 'Diego'),
 (596, 'Tim', 'Jones'),
 (597, 'Joyce', 'Singh'),
 (599, 'Brian', 'Shawler'),
 (600, 'Kelly', 'Hankins'),
 (601, 'Lula', 'Holloway'),
 (602, 'Michael', 'Gourley'),
 (603, 'Candice', 'Rivera'),
 (604, 'Tristan', 'Hawkinson'),
 (605, 'Sophia', 'Smith'),
 (606, 'Hazel', 'Montoya'),
 (607, 'Mercedes', 'Hall'),
 (608, 'Amber', 'Paynes'),
 (609, 'Eileen', 'Nelson'),
 (610, 'Agnes', 'Lastufka'),
 (612, 'Opal', 'Payne'),
 (613, 'Robert', 'Brewster'),
 (614, 'Paul', 'Tacadina'),
 (615, 'May', 'Lawley'),
 (617, 'Margie', 'Huggins'),
 (619, 'Parker', 'Wade'),
 (620, 'Debra', 'White'),
 (621, 'Myles', 'Lyon'),
 (622, 'Jesus', 'Ferrell'),
 (623, 'Jeffrey', 'Russell'),
 (624, 'Linda', 'Ezell'),
 (625, 'Curtis', 'Beard'),
 (626, 'Jenise', 'Johnson'),
 (584, 'Oscar', 'Ruppe'),
 (583, 'Kenneth', 'Mercier'),
 (516, 'Daniel', 'Brescia'),
 (507, 'Chrystal', 'Morgan'),
 (574, 'Angela', 'Pierce'),
 (545, 'Richard', 'Mills'),
 (506, 'Eileen', 'Perez'),
 (598, 'Paulina', 'Yip'),
 (611, 'Yolanda', 'Kline'),
 (542, 'Lynne', 'Dexter'),
 (590, 'Lori', 'Reese'),
 (539, 'Diane', 'Jablonski'),
 (503, 'Theresa', 'Ellis'),
 (540, 'Hermina', 'Owings'),
 (564, 'Jean', 'Guzman'),
 (535, 'William', 'Wolfe'),
 (537, 'Michele', 'Mihm'),
 (627, 'Guadalupe', 'Modafferi'),
 (628, 'Joann', 'Ragasa'),
 (630, 'Florence', 'Sullivan'),
 (631, 'Robert', 'Deleon'),
 (632, 'Curtis', 'Ou'),
 (634, 'Meredith', 'Stone'),
 (635, 'Chad', 'Pinks'),
 (636, 'Darleen', 'Lee'),
 (638, 'Ruby', 'Throneberry'),
 (640, 'Thelma', 'Fitzpatrick'),
 (644, 'Lawrence', 'Martinez'),
 (645, 'Jennifer', 'Kromer'),
 (646, 'John', 'Vasquez'),
 (647, 'Milton', 'Keating'),
 (648, 'Jim', 'Mitchell'),
 (649, 'Preston', 'Hernandez'),
 (650, 'Kelly', 'Thomas'),
 (651, 'Vickie', 'Rothhaupt'),
 (652, 'Barbara', 'Clack'),
 (653, 'Katherine', 'Poisson'),
 (654, 'Joseph', 'Calandra'),
 (655, 'Leon', 'Jorgensen'),
 (656, 'Melissa', 'Esposito'),
 (657, 'Lettie', 'Stephenson'),
 (658, 'William', 'Papineau'),
 (660, 'Dorothy', 'Flaherty'),
 (662, 'Geneva', 'Berry'),
 (663, 'William', 'Means'),
 (665, 'Natalie', 'Deel'),
 (666, 'Demetra', 'Curtis'),
 (667, 'John', 'Mathis'),
 (668, 'Rhonda', 'Barile'),
 (669, 'Arthur', 'Nehlsen'),
 (671, 'Kevin', 'Rivera'),
 (672, 'Laticia', 'Wang'),
 (673, 'Rebecca', 'Dore'),
 (674, 'Pierre', 'Larsen'),
 (675, 'Dale', 'Walters'),
 (676, 'Richard', 'Garza'),
 (677, 'Nicole', 'Leatherwood'),
 (678, 'Michael', 'Shearing'),
 (679, 'Thomas', 'Mcdonald'),
 (680, 'Loretta', 'Kohl'),
 (681, 'Dale', 'Longbrake'),
 (682, 'Joseph', 'Phillips'),
 (683, 'Christian', 'Cunningham'),
 (684, 'Craig', 'Oliver'),
 (685, 'Anthony', 'Jiggetts'),
 (686, 'Jeffery', 'Conant'),
 (687, 'Larry', 'Mclean'),
 (689, 'Harland', 'Roundtree'),
 (690, 'Carisa', 'Pruitt'),
 (691, 'Joseph', 'Bergman'),
 (692, 'Sue', 'Guillen'),
 (693, 'Gwendolyn', 'Capley'),
 (694, 'Venessa', 'Martinez'),
 (695, 'Kory', 'Hylton'),
 (696, 'Susan', 'Melvin'),
 (697, 'Cynthia', 'Tucker'),
 (698, 'Agnes', 'Stewart'),
 (700, 'Tom', 'Anthony'),
 (701, 'Jermaine', 'Richmond'),
 (702, 'Kimberly', 'Pichler'),
 (703, 'Paul', 'Massey'),
 (704, 'Derrick', 'Vang'),
 (705, 'Erika', 'Clinch'),
 (706, 'Robert', 'Gowdy'),
 (707, 'Devin', 'Summers'),
 (708, 'Raymond', 'Luneau'),
 (709, 'Howard', 'Frazer'),
 (710, 'Emanuel', 'Denley'),
 (712, 'Donald', 'Fidler'),
 (713, 'Frances', 'Meecham'),
 (714, 'Jessie', 'Towner'),
 (715, 'Colleen', 'Heath'),
 (716, 'Michael', 'Bass'),
 (717, 'Jo', 'Mouton'),
 (720, 'Linda', 'Guzman'),
 (721, 'Brian', 'Williams'),
 (722, 'Maile', 'Meyers'),
 (724, 'Evelyn', 'Dumond'),
 (725, 'Theodore', 'Horton'),
 (726, 'Carol', 'Alexander'),
 (727, 'Andrew', 'Pryor'),
 (729, 'Gwendolyn', 'Noonan'),
 (730, 'Josephine', 'Ledbetter'),
 (731, 'Guadalupe', 'Torres'),
 (732, 'Jeffrey', 'Cramer'),
 (733, 'Ella', 'Davis'),
 (734, 'Stacey', 'Humphrey'),
 (735, 'Jeremy', 'Storey'),
 (736, 'Katie', 'Leon'),
 (737, 'Karen', 'Mckenna'),
 (738, 'Casey', 'Griffin'),
 (739, 'Maria', 'Dunford'),
 (740, 'Maria', 'Romanowski'),
 (742, 'Minerva', 'Russell'),
 (743, 'Tara', 'Drake'),
 (744, 'Donald', 'Larson'),
 (745, 'Nada', 'Belcher'),
 (746, 'Robert', 'Hayes'),

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Escriba aquí la descripción de su solución._

In [114]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT 

COUNT(*) AS cantidad 

FROM 

personas WHERE fecha_nacimiento > '2019-12-01';

 * postgresql://postgres:***@localhost:5432/tarea-bd
1 rows affected.

[(60,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [115]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    id_persona , nombre , split_part(apellidos, ' ', 1) AS primer_apellido , saldo AS Dinero
FROM 
    personas INNER JOIN cuentas_bancarias
ON  
    cuentas_bancarias.id_persona = personas.id

 * postgresql://postgres:***@localhost:5432/tarea-bd
120 rows affected.

[(380, 'Christopher', 'Rosboril', 6147),
 (808, 'John', 'Sanchez', 5501),
 (321, 'Adam', 'Galdames', 2478),
 (980, 'Angela', 'Brown', 6638),
 (178, 'Kenneth', 'Battles', 6671),
 (895, 'Sarah', 'Holley', 1328),
 (320, 'Deborah', 'Ricker', 5118),
 (354, 'Victor', 'Tillson', 8563),
 (143, 'Gloria', 'Maybee', 8030),
 (234, 'Karin', 'Sproule', 9713),
 (931, 'Virginia', 'Marshall', 9761),
 (942, 'Mike', 'Latney', 3816),
 (694, 'Venessa', 'Martinez', 7568),
 (286, 'Linda', 'Rodgers', 1380),
 (368, 'George', 'Pope', 4611),
 (865, 'Drew', 'Klase', 1790),
 (772, 'Matthew', 'Jones', 8094),
 (274, 'Constance', 'Robinson', 6419),
 (162, 'Ronald', 'Newman', 7897),
 (885, 'Armando', 'Lopez', 5056),
 (17, 'Michael', 'Tidwell', 8887),
 (966, 'Eileen', 'Martinez', 7054),
 (627, 'Guadalupe', 'Modafferi', 2665),
 (437, 'Julian', 'Harris', 7942),
 (350, 'Cornelia', 'Guest', 9567),
 (196, 'Tasha', 'Stoner', 9570),
 (775, 'Catherine', 'Jones', 6842),
 (972, 'Khadijah', 'Rodriguez', 753),
 (386, 'Christina', 'Hunt', 3227),
 (131, 'Peggy', 'Brown', 8174),
 (77, 'Alfredo', 'Owens', 3619),
 (102, 'Donald', 'Murphy', 9703),
 (813, 'Casey', 'Johnson', 2565),
 (112, 'Roger', 'Hoffman', 5496),
 (94, 'Raymond', 'Orduno', 5064),
 (738, 'Casey', 'Griffin', 9742),
 (784, 'Tina', 'Li', 7850),
 (468, 'Calvin', 'Mulholland', 3783),
 (21, 'Christopher', 'Mcclain', 6689),
 (844, 'William', 'Terry', 1756),
 (463, 'Ashley', 'Knight', 549),
 (639, 'Irena', 'Geter', 621),
 (200, 'Edwin', 'Penn', 8217),
 (545, 'Richard', 'Mills', 1961),
 (408, 'Jean', 'Christensen', 1508),
 (851, 'Michaela', 'Thomas', 3170),
 (358, 'Rachael', 'Walker', 5816),
 (564, 'Jean', 'Guzman', 804),
 (938, 'Mark', 'Hickman', 6749),
 (525, 'William', 'Brule', 7707),
 (510, 'Lee', 'Selfe', 5202),
 (46, 'Holly', 'Cohran', 4490),
 (288, 'Michelle', 'Nee', 635),
 (866, 'Christopher', 'Andrews', 9075),
 (10, 'Tara', 'Smith', 81),
 (971, 'Lynne', 'Scipio', 7781),
 (831, 'Tyler', 'Hansell', 131),
 (588, 'Charlotte', 'Goldstein', 7844),
 (403, 'Oliva', 'Day', 3551),
 (757, 'Mitchell', 'Quinn', 6684),
 (955, 'Jack', 'Satterwhite', 9483),
 (338, 'Bruce', 'Smart', 1585),
 (745, 'Nada', 'Belcher', 4189),
 (669, 'Arthur', 'Nehlsen', 7000),
 (947, 'Raymond', 'Ringo', 7691),
 (649, 'Preston', 'Hernandez', 9352),
 (999, 'Ethel', 'Marshall', 3246),
 (693, 'Gwendolyn', 'Capley', 9566),
 (901, 'Scott', 'Lavigne', 6393),
 (341, 'Linda', 'Abramowski', 433),
 (783, 'Nicholas', 'Tallent', 9967),
 (72, 'Martine', 'Graham', 9678),
 (746, 'Robert', 'Hayes', 1963),
 (422, 'John', 'Herd', 1515),
 (667, 'John', 'Mathis', 9389),
 (504, 'Ronald', 'White', 7931),
 (338, 'Bruce', 'Smart', 8731),
 (823, 'Cecilia', 'Mason', 1237),
 (94, 'Raymond', 'Orduno', 6313),
 (532, 'James', 'Peterson', 7485),
 (825, 'Sharon', 'Demarest', 4934),
 (433, 'Milford', 'Lane', 3043),
 (677, 'Nicole', 'Leatherwood', 1358),
 (280, 'Ebony', 'Wiggins', 4670),
 (181, 'Valerie', 'Dreher', 9366),
 (624, 'Linda', 'Ezell', 2053),
 (738, 'Casey', 'Griffin', 9015),
 (890, 'Israel', 'Earle', 3005),
 (602, 'Michael', 'Gourley', 5638),
 (631, 'Robert', 'Deleon', 5813),
 (709, 'Howard', 'Frazer', 5821),
 (970, 'Ricardo', 'Crawford', 45),
 (400, 'Lupe', 'Little', 1090),
 (164, 'Shirley', 'Palovick', 6809),
 (252, 'Mary', 'Graff', 9278),
 (304, 'Mammie', 'Molina', 7854),
 (992, 'Carrie', 'Willier', 1303),
 (672, 'Laticia', 'Wang', 9950),
 (702, 'Kimberly', 'Pichler', 9536),
 (506, 'Eileen', 'Perez', 9793),
 (810, 'Richard', 'Smith', 4784),
 (981, 'William', 'Moore', 5770),
 (720, 'Linda', 'Guzman', 7877),
 (663, 'William', 'Means', 1942),
 (939, 'Christy', 'Lovins', 6445),
 (794, 'Kelly', 'Angles', 5028),
 (477, 'Herman', 'Montgomery', 557),
 (281, 'Caitlin', 'Ramey', 9279),
 (125, 'Gary', 'Estevez', 953),
 (974, 'Stacey', 'Pedroza', 7215),
 (519, 'Celeste', 'Gober', 9151),
 (147, 'Tanya', 'Townsend', 5670),
 (797, 'Thomas', 'Maier', 6007),
 (750, 'Mark', 'Velazquez', 9179),
 (463, 'Ashley', 'Knight', 7130),
 (650, 'Kelly', 'Thomas', 3270),
 (451, 'John', 'Pleasanton', 632),
 (770, 'Pauline', 'Wood', 3438),
 (323, 'Monte', 'Watson', 4797),
 (825, 'Sharon', 'Demarest', 6395)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [132]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT facciones.nombre AS faccion, COUNT(persona_tiene_trabajo.id_persona) AS cantidad_trabajadores_activos
FROM facciones 
LEFT JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
LEFT JOIN persona_tiene_trabajo persona_tiene_trabajo ON persona_pertenece_faccion.id_persona = persona_tiene_trabajo.id_persona
WHERE persona_tiene_trabajo.estado = true
GROUP BY facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tarea-bd
6 rows affected.

[('JavaScriptia', 10),
 ('Luciérnagas', 9),
 ('Pythonia', 9),
 ('MaCdonia', 11),
 ('FEDRA', 5),
 ('Carroñeros', 13)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *