# Tarea 1 Bases de Datos 2023-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Nombre Integrante 1 - Rol-1
* Nombre Integrante 2 - Rol-2

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [2]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (2.0.8)
Requirement already satisfied: sqlparse in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: psycopg2 in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (2.9.6)
Requirement already satisfied: names in c:\users\nehi3\appdata\local\programs\python\python311\lib\site-packages (0.3.0)

## Importar dependencias

In [3]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [4]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:benjamin@localhost:5432/tareabase

env: DATABASE_URL=postgresql://postgres:benjamin@localhost:5432/tareabase

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [5]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tareabase',
   password="benjamin"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x0000022CB655C480; dsn: 'user=postgres password=xxx dbname=tareabase host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [6]:
%%sql
CREATE TABLE facciones(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    descripcion VARCHAR(45) NOT NULL,
    
    PRIMARY KEY (id)

);

(psycopg2.errors.DuplicateTable) la relación «facciones» ya existe

[SQL: CREATE TABLE facciones(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    descripcion VARCHAR(45) NOT NULL,

    PRIMARY KEY (id)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "trabajos" (6 pts)

In [7]:
%%sql
CREATE TABLE trabajos(
    
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    
    nombre VARCHAR(45) NOT NULL,
    
    descripcion VARCHAR(45) NOT NULL,

    sueldo INTEGER NOT NULL,
    
    PRIMARY KEY (id)

);

 * postgresql://postgres:***@localhost:5432/tareabase
(psycopg2.errors.DuplicateTable) la relación «trabajos» ya existe

[SQL: CREATE TABLE trabajos(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    descripcion VARCHAR(45) NOT NULL,

    sueldo INTEGER NOT NULL,

    PRIMARY KEY (id)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "personas" (6 pts)

In [8]:
%%sql
CREATE TABLE personas(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    apellidos VARCHAR(45) NOT NULL,

    fecha_nacimiento DATE NOT NULL,

    infectado BOOLEAN NOT NULL,

    conyugue INTEGER,

    PRIMARY KEY (id) ,
    
    FOREIGN KEY (conyugue) REFERENCES personas
);

 * postgresql://postgres:***@localhost:5432/tareabase
(psycopg2.errors.DuplicateTable) la relación «personas» ya existe

[SQL: CREATE TABLE personas(

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    nombre VARCHAR(45) NOT NULL,

    apellidos VARCHAR(45) NOT NULL,

    fecha_nacimiento DATE NOT NULL,

    infectado BOOLEAN NOT NULL,

    conyugue INTEGER,

    PRIMARY KEY (id) ,

    FOREIGN KEY (conyugue) REFERENCES personas
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "cuentas_bancarias" (6 pts)

In [9]:
%%sql

CREATE TABLE cuentas_bancarias (

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    tipo_de_cuenta VARCHAR(45) NOT NULL,

    banco VARCHAR(45) NOT NULL,

    saldo INTEGER NOT NULL,

    PRIMARY KEY (id),

    id_persona INTEGER, 

    FOREIGN KEY(id_persona) REFERENCES personas(id)

);

 * postgresql://postgres:***@localhost:5432/tareabase
(psycopg2.errors.DuplicateTable) la relación «cuentas_bancarias» ya existe

[SQL: CREATE TABLE cuentas_bancarias (

    id INTEGER GENERATED ALWAYS AS IDENTITY,

    tipo_de_cuenta VARCHAR(45) NOT NULL,

    banco VARCHAR(45) NOT NULL,

    saldo INTEGER NOT NULL,

    PRIMARY KEY (id),

    id_persona INTEGER,

    FOREIGN KEY(id_persona) REFERENCES personas(id)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "persona_pertenece_faccion" (6 pts)

In [10]:
%%sql
CREATE TABLE persona_pertenece_faccion(

    id_persona INTEGER,

    id_faccion INTEGER,

    PRIMARY KEY (id_persona, id_faccion),

    FOREIGN KEY (id_persona) REFERENCES personas (id),

    FOREIGN KEY (id_faccion) REFERENCES facciones (id)
    

);

 * postgresql://postgres:***@localhost:5432/tareabase
(psycopg2.errors.DuplicateTable) la relación «persona_pertenece_faccion» ya existe

[SQL: CREATE TABLE persona_pertenece_faccion(

    id_persona INTEGER,

    id_faccion INTEGER,

    PRIMARY KEY (id_persona, id_faccion),

    FOREIGN KEY (id_persona) REFERENCES personas (id),

    FOREIGN KEY (id_faccion) REFERENCES facciones (id)


);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "persona_tiene_trabajo" (6 pts)

In [11]:
%%sql
CREATE TABLE persona_tiene_trabajo (
 
 id_persona INTEGER,

 id_trabajo INTEGER,
 
 estado BOOLEAN NOT NULL,

 ultima_vez_realizado TIMESTAMP NOT NULL,   
 
 FOREIGN KEY (id_persona) REFERENCES personas (id),
 
 FOREIGN KEY (id_trabajo) REFERENCES trabajos (id),
 
 PRIMARY KEY (id_persona , id_trabajo)

);

 * postgresql://postgres:***@localhost:5432/tareabase
(psycopg2.errors.DuplicateTable) la relación «persona_tiene_trabajo» ya existe

[SQL: CREATE TABLE persona_tiene_trabajo (

 id_persona INTEGER,

 id_trabajo INTEGER,

 estado BOOLEAN NOT NULL,

 ultima_vez_realizado TIMESTAMP NOT NULL,

 FOREIGN KEY (id_persona) REFERENCES personas (id),

 FOREIGN KEY (id_trabajo) REFERENCES trabajos (id),

 PRIMARY KEY (id_persona , id_trabajo)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [12]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [13]:
%%sql

SELECT
    personas.id , personas.nombre , split_part(apellidos, ' ', 1) AS primer_apellido
FROM 
    personas

INNER JOIN 
    persona_pertenece_faccion 
ON 
    personas.id = persona_pertenece_faccion.id_persona

INNER JOIN
    facciones
ON
    persona_pertenece_faccion.id_faccion = facciones.id
    

WHERE facciones.nombre = 'FEDRA'

 * postgresql://postgres:***@localhost:5432/tareabase
57 rows affected.

[(58, 'Evangelina', 'Devault'),
 (507, 'Pamela', 'Biggs'),
 (135, 'Ralph', 'Losey'),
 (958, 'Jill', 'Casey'),
 (573, 'Sandra', 'Downey'),
 (707, 'Ryan', 'Gifford'),
 (443, 'Carl', 'Ouye'),
 (916, 'Peter', 'Fischer'),
 (630, 'Juana', 'Stanfill'),
 (313, 'Helen', 'Vail'),
 (392, 'Ruth', 'Miller'),
 (273, 'Denise', 'Gionfriddo'),
 (973, 'Arthur', 'Trotman'),
 (722, 'Allen', 'Brown'),
 (378, 'Ronald', 'Risser'),
 (343, 'Dotty', 'Hill'),
 (433, 'Kenneth', 'Clements'),
 (633, 'Coleman', 'Kleber'),
 (316, 'Jennifer', 'Bradley'),
 (461, 'Ruth', 'Terry'),
 (795, 'Gregory', 'Stone'),
 (612, 'Javier', 'Hilliard'),
 (110, 'Eula', 'Tolbert'),
 (891, 'Heather', 'Rimer'),
 (946, 'Erinn', 'Kalkman'),
 (323, 'Kathleen', 'Kleist'),
 (310, 'Denise', 'Thoma'),
 (814, 'Daniel', 'Farry'),
 (631, 'Craig', 'Foley'),
 (406, 'Sandra', 'Gamble'),
 (459, 'Elizabeth', 'Long'),
 (170, 'Amy', 'Hill'),
 (225, 'Dennis', 'Pesqueira'),
 (797, 'Elizabeth', 'Gundlach'),
 (546, 'Chuck', 'Gee'),
 (504, 'Douglas', 'Foster'),
 (625, 'Michael', 'Beale'),
 (715, 'Phyllis', 'Love'),
 (825, 'Kari', 'Gilbert'),
 (944, 'Christopher', 'Gonzalez'),
 (32, 'Jamar', 'Jones'),
 (932, 'Amy', 'Stark'),
 (164, 'Thomas', 'Edwards'),
 (219, 'Steven', 'Hairston'),
 (468, 'Patrica', 'Goffinet'),
 (910, 'Gladys', 'Love'),
 (604, 'Julie', 'Morrison'),
 (113, 'Jennifer', 'Moradel'),
 (38, 'Jerry', 'Jarvis'),
 (940, 'Dorothy', 'Ellis'),
 (779, 'Terri', 'Holloway'),
 (572, 'Garrett', 'Bowen'),
 (673, 'Kelly', 'Bryant'),
 (477, 'Chandra', 'Cook'),
 (409, 'Kristen', 'Price'),
 (807, 'Todd', 'Gonzalez'),
 (120, 'Lenora', 'Bartkowiak')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Escriba aquí la descripción de su solución._

In [14]:
%%sql


SELECT 
    COUNT(*) AS cantidad 

FROM 
    personas 

WHERE 
    fecha_nacimiento > '2019-12-01';

 * postgresql://postgres:***@localhost:5432/tareabase
1 rows affected.

[(63,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [33]:
%%sql


SELECT
    personas.id , nombre , apellidos , cuentas_bancarias.saldo AS Dinero
FROM 
    personas 

LEFT JOIN 
    cuentas_bancarias

ON  
    cuentas_bancarias.id_persona = personas.id

WHERE cuentas_bancarias.saldo > 0

LIMIT 20

 * postgresql://postgres:***@localhost:5432/tareabase
20 rows affected.

[(2, 'Maxine', 'Camp Carmichael', 1700),
 (9, 'Cassie', 'Johnson Torres', 3835),
 (9, 'Cassie', 'Johnson Torres', 1054),
 (14, 'Julie', 'Campbell Richmond', 9586),
 (24, 'Eva', 'Sanders Smith', 5676),
 (37, 'Larry', 'Canida Watson', 666),
 (72, 'Winfred', 'Jackson Roberts', 4275),
 (84, 'Renee', 'Young Anderson', 45),
 (94, 'Mia', 'Brooks Beaver', 7884),
 (79, 'Dawn', 'Ferrante Thompson', 7050),
 (39, 'Sue', 'Ciriaco Richard', 3610),
 (67, 'Charlie', 'Edwards Kern', 6750),
 (136, 'Delores', 'Oleary Black', 8674),
 (144, 'Christine', 'Allen Bunch', 5710),
 (145, 'Leslie', 'Rosario Hills', 5893),
 (145, 'Leslie', 'Rosario Hills', 8607),
 (152, 'Deborah', 'Merritt Long', 7517),
 (162, 'William', 'Pritchard Weir', 6164),
 (190, 'Amelia', 'Turgeon Tran', 6944),
 (196, 'James', 'Latimore Jacobs', 2934)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [34]:
%%sql

SELECT facciones.nombre AS faccion, COUNT (persona_tiene_trabajo.id_persona) AS cantidad_de_trabajadores
FROM
    facciones

RIGHT JOIN
     persona_pertenece_faccion
ON
    facciones.id=persona_pertenece_faccion.id_faccion

LEFT JOIN
    persona_tiene_trabajo
ON
    persona_pertenece_faccion.id_persona=persona_tiene_trabajo.id_persona

WHERE
    persona_tiene_trabajo.estado=true AND persona_tiene_trabajo.ultima_vez_realizado <= '2021-12-01'

GROUP BY
    facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tareabase
6 rows affected.

[('JavaScriptia', 5),
 ('Luciérnagas', 2),
 ('Carroñeros', 4),
 ('Pythonia', 9),
 ('MaCdonia', 7),
 ('FEDRA', 10)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [35]:
%%sql


SELECT facciones.nombre AS faccion, COUNT(personas.id) AS personas_infectadas
FROM 
    facciones
LEFT JOIN
    persona_pertenece_faccion 
ON 
    facciones.id = persona_pertenece_faccion.id_faccion

LEFT JOIN 
    personas 
ON 
    persona_pertenece_faccion.id_persona = personas.id

WHERE personas.infectado = true
GROUP BY facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tareabase
6 rows affected.

[('JavaScriptia', 24),
 ('Luciérnagas', 24),
 ('Pythonia', 26),
 ('MaCdonia', 15),
 ('FEDRA', 30),
 ('Carroñeros', 24)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [36]:
%%sql
SELECT Facción  ,trabajo
FROM
(SELECT
    facciones.nombre AS Facción  ,trabajos.descripcion AS trabajo ,
    row_number() over (partition by facciones.nombre order by COUNT(persona_tiene_trabajo.id_trabajo) DESC) rn
FROM 
    facciones

LEFT JOIN
    persona_pertenece_faccion
ON 
    facciones.id = persona_pertenece_faccion.id_faccion

LEFT JOIN
    personas
ON
    persona_pertenece_faccion.id_persona = personas.id

LEFT JOIN
    persona_tiene_trabajo
ON
    personas.id= persona_tiene_trabajo.id_persona
INNER JOIN
    trabajos
ON
    persona_tiene_trabajo.id_trabajo= trabajos.id

WHERE persona_tiene_trabajo.estado=true

GROUP BY facciones.id ,  trabajos.descripcion)tabla

WHERE rn=1

 * postgresql://postgres:***@localhost:5432/tareabase
6 rows affected.

[('Carroñeros', 'Encargado de repartir los correos'),
 ('FEDRA', 'Encargado de reparar las cerraduras'),
 ('JavaScriptia', 'Encargado de investigar'),
 ('Luciérnagas', 'Encargado de cobrar los impuestos'),
 ('MaCdonia', 'Encargado de cocinar'),
 ('Pythonia', 'Encargado de construir')]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [37]:
%%sql

SELECT
    facciones.nombre AS Facción, SUM(cuentas_bancarias.saldo) AS Saldo

FROM 
    facciones

LEFT JOIN 
    persona_pertenece_faccion
ON 
    facciones.id = persona_pertenece_faccion.id_faccion

LEFT JOIN
    personas
ON persona_pertenece_faccion.id_persona = personas.id

LEFT JOIN cuentas_bancarias ON personas.id = cuentas_bancarias.id_persona

GROUP BY facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tareabase
6 rows affected.

[('JavaScriptia', 42799),
 ('Luciérnagas', 64589),
 ('Pythonia', 7261),
 ('MaCdonia', 38159),
 ('FEDRA', 22524),
 ('Carroñeros', 40877)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [40]:
%%sql

SELECT
    cuentas_bancarias.banco AS Banco , COUNT(DISTINCT personas.id) AS Cantidad, SUM(cuentas_bancarias.saldo) AS Saldo
FROM 
    cuentas_bancarias
INNER JOIN personas ON cuentas_bancarias.id_persona = personas.id

GROUP BY cuentas_bancarias.banco;

 * postgresql://postgres:***@localhost:5432/tareabase
10 rows affected.

[('Banco BBVA', 15, 67368),
 ('Banco BCI SpA', 14, 54712),
 ('Banco Consorcio S.A', 15, 68527),
 ('Banco de la Nación S.A', 11, 40995),
 ('Banco Estado SpA', 9, 47455),
 ('Banco Pedrito Pascal SpA', 12, 54106),
 ('Banco Pythonia S.A', 13, 63092),
 ('Banco Santander SpA', 9, 25684),
 ('Banco Scotiabank', 12, 47387),
 ('FedraBank S.A', 10, 50423)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [41]:
%%sql
SELECT Faccion,banco
FROM 
    (SELECT facciones.nombre AS Faccion , cuentas_bancarias.banco  ,
    ROW_NUMBER() OVER (PARTITION BY facciones.nombre ORDER BY COUNT(cuentas_bancarias.tipo_de_cuenta) DESC) AS rn
    FROM
        facciones

    LEFT JOIN
        persona_pertenece_faccion
    ON
        facciones.id = persona_pertenece_faccion.id_faccion

    LEFT JOIN
        personas
    ON
        persona_pertenece_faccion.id_persona = personas.id

    INNER JOIN
        cuentas_bancarias
    ON
        personas.id=cuentas_bancarias.id_persona
        
    GROUP BY facciones.nombre , cuentas_bancarias.banco)tabla

WHERE rn=1

 * postgresql://postgres:***@localhost:5432/tareabase
6 rows affected.

[('Carroñeros', 'Banco Pedrito Pascal SpA'),
 ('FEDRA', 'Banco BCI SpA'),
 ('JavaScriptia', 'Banco Consorcio S.A'),
 ('Luciérnagas', 'Banco Pedrito Pascal SpA'),
 ('MaCdonia', 'Banco BBVA'),
 ('Pythonia', 'Banco Pythonia S.A')]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [44]:
%%sql

SELECT
    personas.id AS ID, personas.nombre AS NOMBRE ,SUBSTRING(personas.apellidos,LENGTH(split_part(apellidos, ' ', 1))+2 , LENGTH(personas.apellidos)) AS Apellido
FROM 
    facciones

LEFT JOIN
    persona_pertenece_faccion
ON
    facciones.id=persona_pertenece_faccion.id_faccion

LEFT JOIN
    personas
ON
    persona_pertenece_faccion.id_persona=personas.id


GROUP BY personas.id

HAVING COUNT(personas.id)>1

ORDER BY personas.id ASC

 * postgresql://postgres:***@localhost:5432/tareabase
23 rows affected.

[(25, 'Adaline', 'Jones'),
 (32, 'Jamar', 'Rogge'),
 (38, 'Jerry', 'Talley'),
 (65, 'Jamie', 'Johnson'),
 (172, 'Bonnie', 'Brewer'),
 (229, 'Cathleen', 'Lord'),
 (265, 'Myrtle', 'Domingo'),
 (305, 'Darlene', 'Hansen'),
 (316, 'Jennifer', 'Wheaton'),
 (318, 'Leeann', 'Perez'),
 (406, 'Sandra', 'Rothman'),
 (409, 'Kristen', 'Records'),
 (459, 'Elizabeth', 'Stockton'),
 (494, 'David', 'Raley'),
 (707, 'Ryan', 'Green'),
 (713, 'Carolynn', 'Crawford'),
 (763, 'Theresa', 'Larkin'),
 (779, 'Terri', 'Durham'),
 (795, 'Gregory', 'Miller'),
 (899, 'Richard', 'Clark'),
 (910, 'Gladys', 'Alexander'),
 (932, 'Amy', 'Holme'),
 (973, 'Arthur', 'Harmon')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [46]:
%%sql
SELECT 
    persona1.nombre AS Nombre_persona1, 
    persona1.apellidos AS Apellidos_persona1, 
    persona2.nombre AS Nombre_persona2, 
    persona2.apellidos AS Apellidos_persona2
FROM personas persona1
JOIN personas persona2 ON persona1.id = persona2.conyugue 
WHERE persona1.id < persona2.id

GROUP BY persona1.nombre, persona1.apellidos, 
        persona2.nombre, persona2.apellidos

 * postgresql://postgres:***@localhost:5432/tareabase
85 rows affected.

[('Harold', 'Duda Taylor', 'Donna', 'King Robinson'),
 ('Guy', 'Cox Liaw', 'Joshua', 'Lassiter Rivera'),
 ('John', 'Sullivan Scontras', 'Alan', 'Hodges Schmitt'),
 ('Holly', 'Pinkston Harper', 'Elton', 'Binkley Guimond'),
 ('Joseph', 'Potts Peters', 'James', 'Amburn Anaya'),
 ('Daniel', 'Farry Warr', 'Michelle', 'Albert Sexton'),
 ('Danielle', 'Spirer Hagen', 'Susie', 'Gofton Epperson'),
 ('Maria', 'Beard Burt', 'Sibyl', 'Beach Graber'),
 ('Esther', 'Harper Mcmullen', 'Sara', 'Otey Willaims'),
 ('Natalia', 'Gore Rankin', 'Jeanne', 'Eiselein Martin'),
 ('Aaron', 'Howe Arrington', 'Connie', 'Gilles Scheumann'),
 ('William', 'Jones Wengerd', 'Candice', 'Arvin Sullivan'),
 ('Maryjane', 'Nicholson Hodge', 'Alana', 'Hall Wilson'),
 ('Deidra', 'Almazan Watson', 'Brian', 'Flansburg Salinas'),
 ('Ann', 'Fassett Strickland', 'Anthony', 'Barton Ritter'),
 ('Timothy', 'Livley Dulaney', 'Richard', 'Tran Clark'),
 ('Charlie', 'Edwards Kern', 'Ocie', 'Bennett Brown'),
 ('Shirley', 'Dagle Hage', 'Rudolph', 'Joyce Mcdermott'),
 ('Patricia', 'Wescott Dunphy', 'Jennifer', 'Grieco Clark'),
 ('Joshua', 'Daley Hyppolite', 'Beverly', 'Makris Manora'),
 ('Ella', 'Graham Floyd', 'Jamie', 'Zumbrunnen Craven'),
 ('David', 'Meier Vetrano', 'William', 'Gadd Torres'),
 ('Velma', 'Spearman Powell', 'Avis', 'Martinez Lozano'),
 ('Valda', 'Curran Gooden', 'Luther', 'Reilly Salvador'),
 ('Mary', 'Conway Pelchat', 'Annette', 'Kicker Lacaze'),
 ('Robert', 'Moser Williams', 'Joy', 'New Crippen'),
 ('Sammy', 'Garay Romero', 'Karen', 'Dupuis Harrison'),
 ('Olga', 'Mock Guglielmi', 'Mark', 'Hernandez Bentley'),
 ('Ronald', 'Martin Espinoza', 'Eric', 'Krug Rayford'),
 ('Rosemarie', 'Washington Vasquez', 'Jeannie', 'Walker White'),
 ('Cary', 'Riley Ramirez', 'Shawn', 'Matney Vogt'),
 ('Joseph', 'Brzezowski Perl', 'Patricia', 'Ware Curry'),
 ('Thomas', 'Edwards Domingues', 'William', 'Galvan Heffner'),
 ('James', 'Mccaughey Martini', 'Samantha', 'Upton Marble'),
 ('Rosa', 'Weichel Fernandez', 'Mathew', 'Moore Lester'),
 ('Joyce', 'Baker Greiner', 'Juana', 'Stanfill Blumenstock'),
 ('Stewart', 'Hackman Wade', 'John', 'Peckham Bjorklund'),
 ('Sue', 'Ciriaco Richard', 'Migdalia', 'Mumford Harton'),
 ('Michael', 'Florez Slack', 'Jesse', 'Katz Maobi'),
 ('Donnie', 'Murphy Cobb', 'Elida', 'Lahti Mccoy'),
 ('Maria', 'Hall Andino', 'Jasper', 'Andrews Foster'),
 ('Joshua', 'Sanders Nelson', 'William', 'Chandler French'),
 ('Jamar', 'Jones Rogge', 'Michael', 'Edens Salgado'),
 ('Justin', 'Hughes Carroll', 'Gerald', 'Tolson Bond'),
 ('Roberta', 'Reynolds Earley', 'Patricia', 'Tamashiro Thomas'),
 ('Myrtle', 'Sanders Langeness', 'Jennifer', 'Weaver Parkman'),
 ('Anna', 'Tyson Gotto', 'Jill', 'Casey Allen'),
 ('Rebecca', 'Fischer Sjogren', 'Mary', 'Russell Baker'),
 ('Bonnie', 'Torsiello Brewer', 'Suzanne', 'Oxendine Santos'),
 ('Merle', 'Roseboro Collins', 'Florance', 'Coleman Liggins'),
 ('Ronald', 'Harley Wood', 'Mona', 'Burrell Hammen'),
 ('Jesus', 'Stai Harrill', 'Kimberly', 'Cosby Thompson'),
 ('Jason', 'Deleon Ricci', 'Lula', 'Craner Reinhardt'),
 ('Nam', 'Vegas Brown', 'Rose', 'Cooley Wilson'),
 ('Dwight', 'Ramires Ewing', 'Lori', 'Papitto Welch'),
 ('Romeo', 'Tanner Jefferys', 'Elbert', 'Sloat Wright'),
 ('Derek', 'Vazquez Holland', 'Christopher', 'Dansby Little'),
 ('Thomas', 'Woods Parikh', 'Kari', 'Gilbert Perez'),
 ('Gloria', 'Jaffe Horne', 'Stacy', 'Miller Williams'),
 ('Kristen', 'Price Records', 'Susan', 'Edwards Golden'),
 ('Erika', 'Natali Keane', 'Shawn', 'Huguley Petty'),
 ('Linda', 'Deoliveira Johnson', 'Charley', 'Jones Casano'),
 ('Brian', 'Bowling Renn', 'Bessie', 'Ruivo Mcroy'),
 ('Pricilla', 'Dobbs Russell', 'Kimberly', 'Morgan Wemmer'),
 ('George', 'Slayman Chambers', 'Amanda', 'Pittenger Poirier'),
 ('Kelly', 'Hernandez Epperson', 'Stanley', 'Watkins Fambrough'),
 ('Ann', 'Thomas Theriot', 'Marjorie', 'Papa Berstein'),
 ('James', 'Kennedy Harlan', 'Lenita', 'Walters Kaufman'),
 ('David', 'Rivera Wilson', 'Marco', 'Riggs Vanluven'),
 ('Dawn', 'Ferrante Thompson', 'Aida', 'Morin Simpson'),
 ('William', 'Obrien Kositzke', 'Stacy', 'Parsons Denery'),
 ('Lenora', 'Bartkowiak Shaw', 'Dorothy', 'Ellis Dill'),
 ('Mindy', 'Lebel Birchfield', 'Charles', 'Reisner Cadena'),
 ('Gordon', 'Young West', 'Margo', 'Greene Campbell'),
 ('Lonnie', 'Wozniak Davis', 'Troy', 'Fraser Easterly'),
 ('Charles', 'Sinkler Howard', 'Wayne', 'Fuentes Jones'),
 ('Amy', 'Hill Mcghee', 'Denise', 'Thoma Marquez'),
 ('Maria', 'Taylor Opland', 'Paul', 'Corley Chavez'),
 ('Kenisha', 'Neal Welborn', 'Samantha', 'James Tisdale'),
 ('Fran', 'Cureton Jackson', 'James', 'Andrade Tatum'),
 ('Alpha', 'Snead Walker', 'Julio', 'Clark Huntley'),
 ('Justin', 'Molina Sherman', 'Nicole', 'George Riso'),
 ('Inez', 'Ward Chitwood', 'Ann', 'Jordan Alvarez'),
 ('Bob', 'Mason Hall', 'Melissa', 'Dean Pujols'),
 ('Kevin', 'Henderson Custer', 'Michael', 'Walsh Kendrick')]